.myBooking {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    color: #500E4B;
}
.header {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #989898;
}

.cruisenightContainer {
    background: #FFF1EE;
    width: 100%;
}

.nightHeader {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #313131;
    margin-bottom: 0px;
}
.subnightHeader {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-left: 4px;
    color: gray;
    padding-top: 10px;
}

.status {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #44B668;
    display: flex;
    justify-content: flex-end;
}

.statusOrange {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 21px;
   /* identical to box height */
   color: #FF9F2E;
   display: flex;
   justify-content: flex-end;
}
.nightsubHeader {
   font-size: 17px;
   font-weight: bold;
}

.bookingID {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #313131;
    display: flex;
    justify-content: flex-end;
}

.startPlace {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px !important;
    line-height: 35px;
    color: #313131;
}

.startPlaceSub {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #616161;
}

.startDate {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #313131;
}
.startPlace {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #616161;
}

.borderStyle {
    border-bottom: 2px gray dotted ;
}

.portdetails {
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap
 }

 .getDirection {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #EA725B;
 }

 .subheading {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #616161;
 }
 .subheadingCabin {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #616161;
    padding-left: 40px;
 }

 .itineraryDetails {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #313131;
 }
 .cabinTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #313131;
 }

 .marginRemover {
     margin-left: 0px !important;
     margin-right: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
 }
 .BottomButtonContainer {
     display: flex;
     justify-content: center;
     margin-top: 25px;
 }
 .rescheduleButton {
    background: #EA725B;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border: 1px solid #EA725B
 }
 .cancelButton {
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #EA725B;
    border: 1px solid #EA725B;
    margin-left: 10px;
 }
 .cabinDetailsCont {
     display: flex;
 }
 .cabinDetails {
    width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #313131;
 }

 .cabinDetails span {
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #500E4B;
 }
 .arrowUpAndDown {
     display: flex;
     justify-content: flex-end;
     margin-top:8px
 }

 .arrowUpAndDown span {
     font-size: 26px !important;
 }

 .arrowUpAndDownSmall {
    display: flex;
    justify-content: flex-end;
    margin-top:5px
 }

 .dispayLeft {
     display: flex !important;
     justify-content: flex-end !important;
 }
 .guestTitle {
    font-family: Roboto;
    font-weight: 100;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #616161;
    margin-bottom: 8px;
 }
 .guestName {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #313131;
    margin-bottom: 8px;
 }
 .mainHead {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-transform: capitalize;
    color: #313131;
    margin-bottom: 10px;
 }
 .mainHeadPrice {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-transform: capitalize;
    color: #313131;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
 }
 .subHead {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    text-transform: capitalize;
    color: #616161;
    margin-bottom: 10px;
 }
 .subHeadPrice {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    text-transform: capitalize;
    color: #616161;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
 }
 .IconsCon {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    text-align: center;
    color: #EA725B;
    
 }
 .IconsCon span{
    padding-top: 2px;
 }
 .IconsCon span svg{
    font-size: 16px;
    width: 16px;
    height: 16px;
 }
 .codeInt {
    font-weight: bold;
 }