.postQuotationPayment {
    margin-top: 10px;
    padding: 20px;
    /* margin: 10px; */
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
    border-width: 1px;
    border-style: solid;
    background: #fff;
}

.page{
    background: #f0f4f9;
}

.detailHeadingText {
    font-size: 8pt;
}

.detailInfoText {
    font-size: 14pt;
}

.cancellationHeading {
    padding: 15px;
    justify-content: space-between;
}

.cancellationHeadingText {
    color: #500e4b;
}

.cancellationPointerDown {
    font-size: 18pt;
}

.cancelFeeHeading {
    text-decoration: underline;
    font-weight: bolder;
    color: #500e4b;
}

.toDeparture{
    display: table;
    /* border-collapse: separate; */
    box-sizing: border-box;
    text-indent: initial;
    /* border-spacing: 2px; */
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
}

.toDeparture th{
    border-color: #ddd;
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.toDeparture td{
    border-color: #ddd;
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.toDeparture tr:nth-child(2n) {
    background-color: #ddd;
}

.portChargeClass {
    padding: 20px;
    font-size: 12pt;
}

.billingDetails {
    border: 1px solid #ddd;
    padding: 10px;
}

.billingDetailsHeading {
    justify-content: space-between;
    padding: 15px;
}

.billingDetailsHeadingText {
    font-size: 12pt;
    font-weight: bolder;
    color: #500e4b;
}

.personalDetailsForm {
    gap: 10px;
}

.personalDetailsFormInputContainer{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.personalDetailsFormInput {
    padding: 8px;
}

.grandTotalText {
    margin-top: 10px;
    font-weight: bold;
    color: #500e4b;
}

.grandTotal {
    font-size: 18pt;
    font-weight: bolder;
    color: #500e4b;
}

.bookbynowamount {
    display: flex;
    justify-content: space-between;
}

.booknowbytext {
    font-size: 12pt;
    font-weight: bolder;
}

.amountPayableText {
    line-height: 0px;
    font-size: 10pt;
}

.amountPayable {
    line-height: 10px;
    font-size: 16pt;
    font-weight: bolder;
    color: #500e4b;
}

.submitButton {
    outline: none;
    border: none;
    height: 48px;
    color: white;
    background: #aa432f;
    border-radius: 5px;
}