.postQuotation {
    padding: 30px;
}

.customerType {
    display: flex;
    align-items: center;
}

.inputRow {
    display: flex;
    padding: 0px 30px;
}

.textPickDateRange {
    background: transparent;
    color: tomato;
    border: none;
}

.okButtonForDateSelection {
    float: right;
    color: blue;
}