@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

.bannerSection {
    position: relative;
}

.bannerTitle {
    color: white;
    font-size: 44pt;
    font-weight: bold;
}

.bannerSubHeading {
    color: white;
    font-size: 16pt;
    letter-spacing: 6pt;
}

.bannerContent {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
}

.bannerImage {

}

@media screen and (max-width:768px){
    .bannerTitle {
        color: white;
        font-size: 22pt;
        font-weight: bold;
        line-height: 0px;
    }

    .bannerSubHeading {
        color: white;
        font-size: 14pt;
        letter-spacing: 4pt;
        text-shadow: 0px 1px, 1px 0px, 1px 1px;
    }

    .bannerContent {
        position: absolute;
        top: 150px;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .bannerImage {
        height: 350px;
        width: 100%;
    }   
}

.cityOnSeaComplete {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cityOnSeaDiv{
    width: 28%;
    border-right: 6px solid #EA725B;
} 

.cityOnSea {
    text-align: right;
    font-size: 40px;
    padding-right: 50px;
}

.cityOnSeaDescription {
    width: 72%;
    padding: 10px;
    padding-left: 40px;
}

@media screen and (max-width:768px){
    .cityOnSeaComplete {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin-top: 20px; */
        padding: 0px;
    }

    .cityOnSeaDiv{
        width: 100%;
        padding: 0px;
        border: none;
    }

    .cityOnSea {
        text-align: left;
        font-size: 22pt;
        line-height: 0px;
    }

    .cityOnSeaDescription {
        width: 100%;
        padding: 0px;
        /* padding: 10px; */
        /* padding-left: 40px; */
    }
}

.cityOnSeaDescriptionText {
    font-size: 18px;
    color: rgb(97, 97, 97);
    line-height: 28px;
    margin-bottom: .75rem;    
}

.brochureLink {
    color: #EA725B;
    font-size: 16pt;
    font-weight: bold;
}



.itiComplete {
    margin-top: 50px;
    text-align: center;
}

.itiSubtitle {
    color: #EA725B;
}

.itinerariesHeading {
    margin-top: 90px;
}

.itiTitle {}

@media screen and (max-width:768px){
    .itiComplete {
        margin-top: 50px;
        text-align: left;
    }

    .itiTitle {
        font-size: 24pt;
    }

    .itiSlider {
        width: 100%;
    }
}

.empressSection {
    background: url("../../assets/img/about-ship/express.png");
    height: 750px;
    width: 100%;
    margin-top: 50px;
}

.empressSectionContent {
    margin-left: 10px;
}

.theEmpressDescription {
    font-size: 14pt;
}

.empressInfoSection {
    margin-left: 130px;
    margin-top: 100px;
}

.shipInfoTitle {
    line-height: 0px;
    font-size: 18pt;
    font-weight: bold;
}

.shipInfoSec {
    margin-bottom: 10px;
}

.shipInfoDes {
    line-height: 0px;
    color: #EA725B;
    font-size: 12pt;
    font-weight: bold;
}

@media screen and (max-width:768px){
    .empressSection {
        background: url("../../assets/img/about-ship/express-mobile.png");
        background-repeat: no-repeat;
        height: 400px;
        width: 100%;
        margin-top: 50px;
    }
    .empressSectionContent {
        margin: 0px;
        text-align: left;
    }

    .empressSectionTitle {
        font-size: 16pt;
    }

    .theEmpressDescription {
        font-size: 12pt;
    }
    .empressInfoSection {
        display: none;
    }
}

.onBoardEmpress {
    margin-top: 150px;
    text-align: center;
}

.onBoardEmpressTitle {
}

.onBoardEmpressDescription {
    font-size: 14pt;
    color: #616161;
}

.ShoreExcursionsDataDesktop {
    display: block;
}

.ShoreExcursionsDataMobile {
    display: none;
}

.stateOfTheArtInteriors {
    position: relative;
    width: 66%;
    margin: auto;
    background-color: white;
    top: -55px;
    padding: 20px 20px 0px;
}

.stateOfTheArtInteriorsTitle {

}

@media screen and (max-width:768px){
    .onBoardEmpress {
        margin-top: 150px;
        text-align: left;
    }
    .onBoardEmpressTitle {
        font-size: 24pt;
    }
    .ShoreExcursionsDataDesktop {
        display: none;
    }
    .ShoreExcursionsDataMobile {
        display: block;
    }
}

.explorationOptionDesktop {
    margin-top: 5rem;
}

.explorationOptionMobile {
    display: none;
}

.slider {
    margin-left: 0;
    margin-right: 0;
}

.explorationImageContent {
    position: absolute;
    top: 0px;
    color: white;
    padding: 50px;

}

@media screen and (max-width:768px){
    .explorationOptionDesktop {
        margin-top: 5rem;
        display: none;
    }

    .explorationOptionMobile {
        margin-top: 5rem;
        display: block;
    }

    .explorationOptionSlider {
        width: 100vw !important;
        margin: 0px -20px !important;
    }
    .explorationOptionMask {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
    }

    .exploreMoreOption{
        position: absolute;
        bottom: 40px;
        left: 30px;
        color: white;
    }

    .glowingBallExploreOption{
        background: hsla(0,0%,100%,.3);
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 100px;
        position: absolute;
        left: -19px;
        bottom: -15px;
    }

    .exploreMoreText {
        position: absolute;
        bottom: 27px;
        left: 80px;
        color: white;
        font-weight: bold;
    }
}

.cruiseExper{
    color: #616161;
}

.servicesOfEmpress {
    display: flex;
}

.serviceName {
    position: relative;
    padding: 20px;
}

.serviceTitleDescription{
    position: absolute;
    bottom: 0px;
    padding: 30px;
    color: white;
    /* line-height: 0px; */
    font-size: 12pt;
}

.serviceTitleDescription h5{
    color: white;
    font-weight: bold;
    padding: 0px;
    line-height: 0px;
}

@media screen and (max-width:768px){
    
    .cruiseExper{
        color: #616161;
        font-size: 13pt;
        padding-left: 10px;
    }

    .servicesOfEmpress {
        display: flex;
        flex-direction: column;
    }
}

.empressDeckPlan {
    text-align: center; 
}

.DeckPlanTitle {
    font-size: 24pt;
}

.DeckPlanDescription {
    font-size: 14pt;
    color: #616161;
}

@media screen and (max-width:768px){
    .empressDeckPlan {
        text-align: left;
    }

    .DeckPlanDescription {
        font-size: 12pt;
        color: #616161;
    }
}

.cruiseHolidays {
    text-align: center;
}

.cruiseHolidaysTitle{}

.cruiseHolidaysDescription {
    font-size: 14pt;
    color: #616161;
}

.cruiseHolidaysTypesDesktop {
    display: flex;
}

.cruiseHolidaysTypesMobile {
    display: none;
}

.cruiseHolidyContent {
    position: relative;
    padding: 10px;
}

.cruiseHolidaysImageContent {
    position: absolute;
    bottom: 0px;
    padding: 20px;
}

.cruiseHolidaysImageContent h5 {
    color: white;
    font-weight: bold;
}

@media screen and (max-width:768px){
    .cruiseHolidays {
        text-align: left;
    }
    .cruiseHolidaysTitle {
        font-size: 24pt;
    }
    .cruiseHolidaysDescription {
        font-size: 12pt;
    }
    .cruiseHolidaysTypesDesktop {
        display: none;
    }
    .cruiseHolidaysTypesMobile {
        display: block;
        width: 100%;
    }
    .cruiseHolidyContent {
        padding: 0px;
    }
}

.cruiseHolidayDestination {
    text-align: center; 
}

.cruiseHolidaysDestinationItemsDesktop {
    display: flex;
    padding: 0px;
}

.cruiseHolidaysDestinationItemsMobile {
    display: none;
}

.cruiseHolidyDestinationContent {
    position: relative;
    padding: 0px;
}

.cruiseHolidyDestinationContent:hover .cruiseDestinationDescription {
    display: block;
    font-size: 12pt !important;
}

.cruiseHolidayDestinationImageContent {
    position: absolute;
    top: 0px;
    padding: 30px;
    color: white;
    background: rgba(80, 14, 75, 0.5);
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.cruiseHolidayDestinationImageContent:hover {
    background: rgba(80, 14, 75, 0.8);
}

.cruiseHolidayDestinationImageContent span {
    font-size: 18pt;
    font-weight: bold;
}

.cruiseHolidayDestinationImageContent p {
    font-size: 14pt;
}

.cruiseDestinationDescription {
    display: none;
}

@media screen and (max-width:768px){

    .cruiseHolidyDestinationContent {
        position: relative;
        padding: 0px;
        width: 100vw !important;
        margin: 0px -20px !important;
    }

    .cruiseHolidayDestinationHeading {
        text-align: left;
        font-size: 24pt;
    }

    .cruiseHolidaysDestinationItemsDesktop {
        display: none;
    }

    .cruiseHolidaysDestinationItemsMobile {
        display: block;
    }
}

.occasions {
    margin-top: 100px;
    text-align: center;
}

.occasionDescription {
    font-size: 14pt;
    color: #616161;
}

@media screen and (max-width:768px){
    .occasions {
        text-align: left;
    }
    .occasionsTitle {
        font-size: 22pt;
    }
}


.social-media-area {
    padding: 0 15px 100px;
  }
  
  .social-media-area-heading-group {
    max-width: 880px;
    margin: 0 auto 40px;
  }
  
  .social-media-list {
    list-style: none;
  }
  
  .social-media-list li {
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px;
  }
  
  .social-media-list li::before {
    display: none;
  }
  
  .social-media-list li a {
    background-color: #ea725b;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 100px;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    padding: 0;
  }
  .slider {
    margin-left: 0;
    margin-right: 0;
    /* display: none !important; */
  }
  
  .destinations-for-weddings-area .link {
    font-size: 20px;
    font-weight: 700;
    color: #ea725b;
    line-height: 30px;
    text-align: center;
    display: block;
    padding-right: 15px;
  }
  .readMore {
    color: #ea725b;
    font-weight: 600;
    text-transform: uppercase;
  }
  .downloadvoucher ul li {
    font-size: 18px;
    color: #616161;
  }
  
  .listitems ul li {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    margin-bottom: 10px;
    padding-left: 30px;
  }
  
  .listitems ul li::before {
    content: "";
    background-color: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    /* top: 50%; */
    /* transform: translatey(-50%); */
  }
  .listitems ul li::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f00c";
    position: absolute;
    top: 0;
    /* top: 50%; */
    left: 5px;
    font-size: 11px;
    color: #ea725b;
    transition: all 0.3s ease;
    /* transform: translateY(-50%); */
  }
  .wedding-functions-area {
    margin-top: 30px;
  }
  .pageSection {
    margin-top: 4.5rem;
    margin-bottom: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .social-custom-align {
    padding-bottom: 100px;
    margin-bottom: 0px;
  }