.bookingSuccess {
    padding: 30px;
    background: #f0f4f9;
}

.paymentTextWithIcon {
    display: flex;
    align-items: baseline;
}

.paymentText {
    font-size: 14pt;
    margin-left: 10px;
}

.mailConfirmationPara {
    color: #666666;
}

.mailConfirmationBox {
    border: 0.5px solid #666666;
    border-radius: 10px;
    background: white;
}

.boxDiv {
    margin-top: 30px;
    padding: 0px 30px;
}

.boxLabel {
    color: #500e4b;
    line-height: 0px;
}

.boxDescription {
    line-height: 10px;
    font-size: 14pt;
    color: #500e4b;
}

/* .boxDescriptionThird {
    font-size: ;
} */

.boxDescriptionBox {
    display: flex;
    align-items: baseline;
}

.departAndArrivalSection {
    display: flex;
}

.completeBookingSection {
    margin-top: 30px;
    border-radius: 10px;
    padding-bottom: 40px;
    background: #500e4b;
    text-align: center;
}

.completeBookingHeading {
    padding: 30px 30px 0px 30px;
    color: white;
    font-size: 14pt;
}

.completeBookingButton {
    width: 92%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ea725b;
    font-weight: bolder;
}