@charset "UTF-8";

// temporary styles until removing antd component completely
@import "~antd/dist/antd.css";

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// 2. Vendors
@import 'vendors/_slick';

// 3. Base stuff
@import 'base/base', 'base/_fonts', 'base/typography', 'base/helpers';

// 4. Layout-related sections
@import 'layout/header', 'layout/footer';

// 5. Components
@import 'components/_button', 'components/_jumbotron';

// 6. Page-specific styles
@import 'pages/_home';

// 7. Themes
@import 'themes/default';


@font-face {
  font-family: "Roboto-Black";
  src: url("/assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("/assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("/assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("/assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("/assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("/assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("/assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("/assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
}

* {
  font-family: "Roboto-Regular";
}