.heading{
    font-weight: 500;
    font-size: 24px;
    color: #500E4B;
    font-family: Roboto, sans-serif;
}
.headingSecond{
    font-weight: 500;
    font-size: 16px;
    color: #313131;
    font-family: Roboto, sans-serif;
    padding-bottom: 30px;
}
.waveBg{
    background-image: url('../../assets/img/web-check-in/checkin-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 12em;
}
.list li{
 color: #616161;
 margin-bottom: 10px;
 padding-left: 10px;
}
.list{
    list-style-image: url('../../assets/img/web-check-in/bullet.png');
} 
.successfulModal h6{
    font-family:"Roboto-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    text-align: center;
    margin-bottom: 15px;
}
.successfulModal p{
    font-size: 14px;
    color: #616161;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.successfulModal button{
    width: 170px;
}
@media screen and (max-width:450px){
    .waveBg{
    background-image:none;
    }
    .heading{
        font-weight: 500;
        font-size: 20px;
        color:#313131;
        font-family: "Roboto-Bold";
    }
    .headingSecond{
        padding-top: 25px;
        padding-bottom: 20px;
        max-width: 80%;
    }
    .list{
        padding-left: 20px;
        padding-right: 20px;
    }
    .successfulModal p{
        max-width: 100%;
    }
    .successfulModal button{
        width: -webkit-fill-available;
        width: -moz-fill-available;
    }
}