.cardHeading{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #500E4B;
}
.webcheckinDropdown{
    padding:5px ;
    margin-bottom:10px;
   border:1px solid #DDDD;
    border-radius:10px;
}
.webcheckinDropdown :global(.ant-select-selector){
    border: 0px !important
}
.webcheckinDropdown :global(.ant-select-focused){
    border-color: transparent !important;
    box-shadow: none !important;
}
.Formdeclaration {
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #500E4B;
    margin-bottom: 10px;
    border: 1px solid #500E4B;
}
.bedbutton {
    background: #500E4B;
    border: 0.5px solid #500E4B;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px;
    color: #ffffff !important;
}
.imageStyle {
    height: 36px;
    width: 36px;
}
.unselectedButton {
    background: #ffffff;
    border: 0.5px solid #500E4B;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px;
    color: #500E4B !important;
}
.preffereText {
    /* padding-left: 15px; */
    font-size: 11px !important;
    padding-bottom: 5px;
    padding-top: 10px;
}
.preffereText span {
    color: #EA725B;
}
.webcheckinInput{
    padding:9px;
    margin-bottom:10px;
    border:1px solid rgba(204, 200, 200, 0.867);
    border-radius:10px;
    width: 100%;
}
.webcheckinUpload{
    width: 100%;
}
.webcheckinUpload >div{
    width: 100%;
}
.webcheckinUploadbtn{
    padding:9px;
    margin-bottom:10px;
   border:1px solid rgba(204, 200, 200, 0.867) !important;
    border-radius:10px;
    width: 100%;
    color: #838383;
    height: auto;
}
.webcheckinUploadbtn span{
    color: #838383;
    font-family:"Roboto-Regular", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    display: block;
}
.Form .dateInput{
    padding: 9px;
    margin-bottom: 10px;
    border: 1px solid rgba(204, 200, 200, 0.867);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.Form .dateIcon span svg{
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 18px;
    color: #909090;
}

.healthDeclaration h4{
    font-family:"Roboto-Medium", sans-serif;
    font-size: 18px;
    color: #313131;
}
.healthDeclaration h5{
    font-family:"Roboto-Medium", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #313131;
}
.healthDeclaration h6{
    font-family:"Roboto-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    text-align: center;
    margin-bottom: 15px;
}
.healthDeclaration p{
    font-size: 14px;
    color: #616161;
    text-align: center;
    max-width: 55%;
    margin: auto;
    margin-bottom: 30px;
}
.healthDeclaration li{
    margin-bottom: 20px;
    color: #313131;
    font-size: 16px;
}
.healthDeclaration label{
    font-size: 14px;
    color: #313131;
}
.healthDeclaration input{
    padding:9px;
    margin-bottom:10px;
   border:1px solid #DDDD;
    border-radius:10px;
}
.healthDeclaration input::placeholder{
    color: #909090;
}
.healthDeclaration textarea{
    padding:9px;
    margin-bottom:10px;
   border:1px solid #DDDD;
    border-radius:10px;
}
.healthDeclaration span svg{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    color: #909090;
}
.healthDeclaration .dateInput{
    padding: 0px;
    width: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.healthDeclaration .otherInput{
    width: 100%;
    position: relative;
}
.healthDeclaration .terms {
    padding-top: 20px;
}
.healthDeclaration .terms a{
    color: #500E4B;
}
.successfulModal h6{
    font-family:"Roboto-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    text-align: center;
    margin-bottom: 15px;
}
.successfulModal p{
    font-size: 14px;
    color: #616161;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.successfulModal button{
    width: 170px;
}
@media screen and (max-width:450px){
    .healthDeclaration h6{
        text-align: left;
        padding-left: 10px;
    }
    .healthDeclaration p{
        text-align: left;
        max-width: 100%;
        padding-left: 10px;
    }
    .healthDeclaration ol{
        padding-left: 20px;
    }
    .successfulModal p{
        max-width: 100%;
    }
    .successfulModal button{
        width: -webkit-fill-available;
        width: -moz-fill-available;
    }
}