.banner {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  /* padding: 50px 15px; */
  height: 90vh;
  overflow: hidden;
  width: 100%;
  /* margin-top: -25px; */
  background-size: cover;
  background-position: center center;

}

.bannerShadow {
  /* background: rgba(0, 0, 0, 0.5); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column  ;
  align-items: center;
  justify-content: center;
}

.bannerShadow img {
  width: 96px;
  position: absolute;
  top: 0;
  left: 25px;
}

.banner:before {
  content: "";
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner > img {
  position: absolute;
  top: 0;
  left: 20px;
  width: 88px;
  height: 88px;
}

.banner-heading {
  position: relative;
  font-size: 54px;
  font-weight: 700;
  color: #fff;
  line-height: 81px;
}
.banner-subheading {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.295em;
}

@media (max-width: 767.5px) {
  .banner {
    height: 150%;
    justify-content: flex-end;
    background-size: cover;
    margin-top: -15px;
    /* margin-bottom: 20px; */
    /* padding: 0px 15px; */
  }
  .banner > img {
    left: 20px;
    width: 68px;
    height: 68px;
  }
  .banner-heading {
    font-size: 30px;
    line-height: 45px;
  }
  .banner-subheading {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.295em;
  }
}
