.waveBg{
    background-image: url('../../assets/img/web-check-in/checkin-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 12em;
}
.heading{
    font-weight: 500;
    font-size: 24px;
    color: #500E4B;
    font-family: Roboto, sans-serif;
}

.headingSecond{
    font-weight: 500;
    font-size: 16px;
    color: #313131;
    font-family: Roboto, sans-serif;
    padding-bottom: 10px;
}
.label{
    font-size: 14px;
    color: #500E4B;
}
.dateInput{
    padding: 0px;
    width: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
/* .bookingDetails span svg{
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 18px;
    color: #909090;
} */
.bookingDetails input{
    padding:9px;
    margin-bottom:10px;
   border:1px solid #DDDD;
    border-radius:10px;
    width: 100%;
}
.bookingDetails input::placeholder{
    color: #909090;
}
@media screen and (max-width:450px){
    .waveBg{
        background-image:none;
        }
    .heading{
        font-weight: 500;
        font-size: 20px;
        color:#313131;
        font-family: "Roboto-Bold";
    }
    .headingSecond{
        padding-left: 10px;
        padding-top: 25px;
        padding-bottom: 20px;
        max-width: 80%;
    }
    .bookingDetails{
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        margin: 10px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}