.search--fill-component {
  flex: 1;
}
.ant-picker-suffix {
  display: none !important;
}
.find-cruise-title .ant-card-meta-title {
  font-size: 30px;
  font-weight: 600;
  color: #313131;
  line-height: normal;
  @media (max-width:425px){
   color: #fff;
  }
}
.find-cruise-title-mb {
  font-size: 28px;
  position: absolute;
  font-weight: 600;
  color: #fff;
  line-height: normal;
  // margin-left: -30px;
  top: -63px;
}
.find-cruise-title .ant-card-meta-description {
  font-size: 24px;
  font-weight: 400;
  color: #616161;
  @media (max-width:425px){
    color: #fff;
   }
}
.portrow-grid {
  display: flex;
  flex-wrap: wrap;
}
.portrow-grid .portflex-port {
  font-size: 16px;
  font-weight: 600;
  color: #616161;
  margin-right: 24px;
}
.portgrid--arealist {
  flex: 1;
  max-width: 100%;
}
.route-map{
  display: inline-block;
  @media (max-width: 768px) {
    display: none;
  }
}
.portlocation-main .listrout--port {
  display: inline-flex;
  padding-right: 15px;
  margin-right: 8px;
  line-height: normal;
  font-size: 16px;
  font-weight: 600;
}
.dateCruise--btnmore {
  list-style: none;
  padding: 0px;
  max-width: 450px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.dateCruise--btnmore-n {
  list-style: none;
  padding: 0px;
  max-width: 450px;
  width: 500px;
  max-width: 500px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    width: unset;
    max-width: unset;
  }
}
.dateCruise--btnmore-d {
  list-style: none;
  padding: 0px;
  max-width: 500px;
  @media screen and (max-width: 768px) {
    max-width: 400px;
    width: 400px;
    margin: 0;
  }
}
.dateCruise--btnmore .btnmore--Itemdate  {
  display: inline-block;
}
.dateCruise--btnmore-d .btnmore--Itemdate  {
  display: inline-block;
}
.view--all--datebtn .route-btn-btn {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: #ea725b;
  text-decoration: underline;
}
.rightSide--RouteBody {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.rightSide--RouteBody .card-body {
  padding: 20px;
}
.TravelCard--listgrid .TravelItineraryCard_container__axv1C {
  grid-template-columns: 33% 67%;
}
.TravelCard--listgrid {
  margin: 0px 0px 30px;
  @media screen and (min-width: 768px) {
    margin: 0px 0px 50px;
  }
}
.filter---flex-view {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filterBy {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding-right: 15px;
}
.filterBy span {
  vertical-align: middle;
}
.filterSelect--listCheck {
  flex: 1;
}
.filterSelect--listCheck .ant-tag {
  font-size: 16px;
  color: #313131;
  display: inline-block;
  margin: 0px 10px;
  padding: 4px 15px;
  border-radius: 30px;
}
.filterSelect--listCheck .ant-tag .anticon-close {
  font-size: 13px;
  vertical-align: middle;
}
.filterSelect--listCheck .ant-tag.ant-tag-checkable-checked {
  color: #ea725b;
  background: #91919114;
}
.shortFilter--main .CommonCards_FilterSortSection__2idhr {
  text-align: left;
  margin-top: 10px;
}
.shortFilter--main .ant-dropdown-link {
  font-size: 18px;
  font-weight: 600;
}
.bookingnow---routin--save .TravelItineraryCard_bookItineraryWrapper__3o2Xh {
  justify-content: flex-end;
}
.explore--intery {
  border: none;
  background-color: #EA725B;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.inf-dropdown {
  display: inline-block;
  position: relative;
  margin-top: -5px;
}
.toltips--mandtory {
  position: absolute;
  top: 175%;
  right: -90px;
  width: 213px;
  z-index: 9;
  background: #ffffff;
  box-shadow: -3px 0px 10px #0000001a;
  border-radius: 5px;
  padding: 10px 15px;
  display: none;
}
.inf-dropdown:hover .dropdown--mwndtory {
  display: block;
}
.infomation-card {
  margin-bottom: 0px;
  padding-left: 30px;
}
.toltips--mandtory.dropdown--mwndtory::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 50%;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #ffffff;
  transform: translateX(50%);
}
.find-cruise-title {
  display: none;
}
.find-cruise-title-w{
  /* display: none; */
  /* color: #ffffff; */
  position: absolute;
  bottom: 290px;
  font-weight: bold;
}
.cauroselImg--itemRt img{
  height: 100% !important;
  object-fit: cover;
  // width: 390px !important;
  @media screen and (min-width: 768px) {
    border-radius: 10px 0 0 10px;
  }
}

.modalmap-close {
  position: absolute;
  top: 0;
  right: 8px;
  z-index: 9;
}
/* .inclusive--modal-wraper {
  max-height: 500px;
  overflow-y: auto;
} */
.main-inclus-title {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 20px;
}
.subTitle-inclus {
  font-size: 20px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.inclusive-listItems {
  padding-left: 30px;
}
.inclusive-listItems li {
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  margin-bottom: 15px;
}

.Search-cruse-btn button:active {
  background: #ea725b !important;
  border-color: #ea725b !important;
}
.Search-cruse-btn button:focus {
  box-shadow: none !important;
}
.cruse-dateheading h3 {
  font-size: 18px;
  font-weight: 600;
  color: #616161;
  margin-bottom: 0px;
}
.cruse-dateheading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.btndoc-btn {
  color: #ea725b;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  display: block;
  text-align: left;
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .TravelCard--listgrid .TravelItineraryCard_container__axv1C {
    grid-template-columns: 100%;
  }
  .portrow-grid .portflex-port {
    flex: 0 0 15%;
    max-width: 15%;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 14px;
  }
  .portlocation-main .listrout--port {
    padding-right: 8px;
    margin-right: 8px;
  }
  .TravelItineraryCard_dateSection__2XRqN .TravelItineraryCard_cruseDateHeading__1v4AC {
    font-size: 14px;
  }
  .dateCruise--btnmore {
    margin-left: -5px;
    margin-right: -5px;
  }
  .filterSelect--listCheck {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .maprout--view {
    display: block;
    margin-top: 5px;
  }
  .btnmore--Itemdate span {
    font-size: 14px;
  }
  .TravelItineraryCard_offerSection__101qe,
  .offerpercent-icon > div {
    align-items: start;
  }
  .cruse-dateheading h3 {
    font-size: 14px;
  }
  .dateCruise--btnmore .btnmore--Itemdate {
    display: inline-block;
    width: 50%;
    padding: 0px 5px;
  }
  .form-inline .search--fill-component .labelSearch-txt {
    font-size: 14px !important;
  }
  .dateCruise--btnmore .btnmore--Itemdate button {
    padding: 0px 7px !important;
    width: 100%;
    margin-right: 0px;
    line-height: normal;
    height: 36px;
    margin-bottom: 10px;
  }
  .rightSide--RouteBody .card-body {
    padding: 20px 15px;
  }
  .explore--intery {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .view--all--datebtn .route-btn-btn {
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
  }
  .TravelItineraryCard_documentSection__3ccn7 {
    margin-top: 1rem;
  }
  .TravelItineraryCard_priceDetailWrapper__3_zhw {
    color: #616161;
    margin: 0rem 0rem 1.5rem 0rem;
  }
  .pricedtl-pt > div {
    margin-top: 0px;
  }
  .medtony--font {
    font-size: 11px;
    font-weight: 400 !important;
  }
  .insurefont {
    font-size: 11px;
    margin-bottom: 5px;
  }
  .inputtxt--control {
    font-size: 16px !important;
    font-weight: 400 !important;
    border-bottom: 0 !important;
    margin-left: 0px !important;
  }
  .inputtxt--control input::placeholder {
    font-size: 16px !important;
    color: #313131 !important;
    font-weight: 400 !important;
  }
  .border-input-srch {
    border-bottom: 0.7px solid #cccccc;
  }
  .locantion-font {
    font-size: 14px;
  }
  .TravelItineraryCard_priceDetailWrapper__3_zhw
    .TravelItineraryCard_priceDetail__fatev
    .TravelItineraryCard_price__3WpNp {
    font-size: 24px;
    font-weight: 600;
    margin-right: 5px;
  }
  .pricedtl-pt h1 {
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-right: 5px !important;
  }
  .startfrom--view {
    font-size: 10px;
  }
  .find-cruise-title .ant-card-meta-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0px !important;
  }
  .find-cruise-title .ant-card-meta-description {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
  }
  .filterBy {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #616161;
  }
  .shortFilter--main .ant-dropdown-link {
    font-size: 16px;
    font-weight: 400;
    color: #616161;
  }
  .filterSelect--listCheck .ant-tag {
    margin-left: 0px;
    margin-top: 8px;
    font-size: 14px;
  }
  .Search-cruse-btn {
    text-align: center;
    margin: 20px 0px 10px;
  }
  .Search-cruse-btn button{
      border-radius: 2px !important;
      width: 140px !important;
      margin: auto;
      height: 36px !important;
      font-size: 14px;
   } 
   .filter-itemSelect--box {
      padding: 0px 20px;
  }
  .TravelCard--listgrid {
    padding: 0px 20px;
  }
  .cauroselImg--itemRt img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .arrow-IconImg {
    padding-bottom: 2px;
    width: 12px;
  }
  .find-cruise-title {
    display: block;
    position: absolute;
    margin-top: -5.5em;
    color: white;
    font-weight: 700;
  }
  .find-cruise-title-mb {
    font-size: 28px;
    display: block;
    position: absolute;
    top: -45px;
    color: white;
    left: 0;
    right: 0;
    margin:auto;
    font-weight: 700;
  }
  .anticon-info-circle {
    display: none;
  }
  .portflex-port a {
    display: none;
  }
  .cauroselImg--itemRt::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    content: '';
    background-color: #00000030;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .filter-itemSelect--box {
    margin: 0 100px;
    .filterBy {
      font-weight: normal;
    }
    .shortFilter--main {
      margin-top: 10px;
      .ant-dropdown-link {
        font-weight: normal;
      }
    }
  }
  h3.find-cruise-title {
    display: block;
    position: absolute;
    margin-top: -3.5em;
    color: white;
    font-weight: 700;
  }
  .card-body .find-cruise-title {
    display: block;
  }
}
