.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  padding: 5px;
  margin-top: 20px;
  border: none;
}

.modal-close {
  width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.modal-footer {
  justify-content: center;
  border: none;
}

.uppercase {
  text-transform: capitalize;
}

.modal-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-transform: capitalize;
}

.sub-content {
  display: flex;
  i {
    font-size: 43px;
    line-height: 24px;
    padding-right: 10px;
    color: #616161;
  }
}

.modal-text {
  text-align: initial;
}
.borderline--summary {
  position: relative;
}
.borderline--summary::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 55px;
  right: 0;
  border-bottom: 1px dashed #EA725B;
  width: 215px;
  display: inline-block;
}

.arrivalDepartureDesktop{
  display: flex;
}

.arrivalDepartureMobile {
  display: none;
}

.cabinsMobile {
  display: none;
}

.cabinsDesktop{
  display: block;
}

@media screen and (max-width: 768px) {
  .borderline--summary::before{
    display: none;
  }

  .arrivalDepartureDesktop{
    display: none;
  }

  .arrivalDepartureMobile {
    display:inline-block;
  }

  .cabinsDesktop{
    display: none;
  }

  .cabinsMobile {
    display: flex;
    margin-left: -10px;
    padding-right: 20px;
  }
}
