.list{
    list-style-image: url('../../assets/img/web-check-in/line.png');
} 

.BorderRadius{
    border-radius: 5px 5px 0px 0px;
}
.webCheckIN {
    display: flex;
}
.bookingId {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: #313131;
    display: flex;
    justify-content: flex-end;
}
.qrCode {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #500E4B;
    display: flex;
    justify-content: flex-end;
}
.colcontainer {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.shareModal h6{
    font-family:"Roboto-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    text-align: center;
    margin-bottom: 15px;
}
.shareModal p{
    font-size: 14px;
    color: #616161;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.shareModal input{
    padding:9px;
    margin-bottom:10px;
   border:1px solid #DDDD;
    border-radius:10px;
}
.shareModal input::placeholder{
    color: #909090;
}
.healthDeclaration h4{
    font-family:"Roboto-Medium", sans-serif;
    font-size: 18px;
    color: #313131;
}
.healthDeclaration h5{
    font-family:"Roboto-Medium", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #313131;
}
.healthDeclaration h6{
    font-family:"Roboto-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    text-align: center;
    margin-bottom: 15px;
}
.healthDeclaration p{
    font-size: 14px;
    color: #616161;
    text-align: center;
    max-width: 55%;
    margin: auto;
    margin-bottom: 30px;
}
.healthDeclaration li{
    margin-bottom: 20px;
    color: #313131;
    font-size: 16px;
}
.healthDeclaration label{
    font-size: 14px;
    color: #313131;
}
.healthDeclaration input{
    padding:9px;
    margin-bottom:10px;
   border:1px solid #DDDD;
    border-radius:10px;
}
.healthDeclaration input::placeholder{
    color: #909090;
}
.healthDeclaration textarea{
    padding:9px;
    margin-bottom:10px;
   border:1px solid #DDDD;
    border-radius:10px;
}
.healthDeclaration span svg{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    color: #909090;
}
.healthDeclaration .dateInput{
    padding: 0px;
    width: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.healthDeclaration .otherInput{
    width: 100%;
    position: relative;
}
.healthDeclaration .terms {
    padding-top: 20px;
}
.healthDeclaration .terms a{
    color: #500E4B;
}
.successfulModal h6{
    font-family:"Roboto-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    text-align: center;
    margin-bottom: 15px;
}
.successfulModal p{
    font-size: 14px;
    color: #616161;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.successfulModal button{
    width: 170px;
}
@media screen and (max-width:450px){
    .list{
        padding-right: 10px;
    }
    .qrMobileTranform{
        transform: scale(0.8);
    }
    .shareModal p{
        max-width: 100%;
    }
    .healthDeclaration h6{
        text-align: left;
        padding-left: 10px;
    }
    .healthDeclaration p{
        text-align: left;
        max-width: 100%;
        padding-left: 10px;
    }
    .healthDeclaration ol{
        padding-left: 20px;
    }
    .successfulModal p{
        max-width: 100%;
    }
    .successfulModal button{
        width: -webkit-fill-available;
        width: -moz-fill-available;
    }
}