// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  font-family: 'Roboto-Regular';
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  // @include on-event {
  //   color: $text-color;
  //   text-decoration: underline;
  // }
}

img {
  max-width: 100%;
}

// pre-defined
.pl-25 {
  padding-left: 25px;
}
