// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: "Roboto-Black";
    src: url("/assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-BlackItalic";
    src: url("/assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-Bold";
    src: url("/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-BoldItalic";
    src: url("/assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-Italic";
    src: url("/assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-Light";
    src: url("/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-LightItalic";
    src: url("/assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-Medium";
    src: url("/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-MediumItalic";
    src: url("/assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-Regular";
    src: url("/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-Thin";
    src: url("/assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-ThinItalic";
    src: url("/assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
  }
  

  
