.searchComponentBar {
  position: relative;
  background: white;
  width: 70%;
  margin: auto;
  margin-top: -2rem;
  z-index: 10;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  .inlineSearchForm {
    .inputGroup {
      flex-grow: 1;
      padding: 5px 10px;
      label {
        justify-content: start;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        color: #8b8b8b;
        margin-bottom: 10px;
      }
      .autoComplete,
      input {
        font-size: 12pt;
        font-weight: bold;
        line-height: 23px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        padding: 0px;
        border: 0px;
        width: 100%;
        border-radius: 0px;
        color: #313131;
        // border-right: 1px solid #CCCCCC !important;
        &:first-child {
          border-right: 0px !important;
        }
      }
      input:hover,
      input:focus {
        box-shadow: none;
        border: none;
        outline: none;
        border-radius: 0px;
      }
      @media (max-width: 425px) {
        .autoComplete,
      input {
        border-right:0px !important;
      }
      }
    }
    button {
      background: #ea725b;
      border-color: #ea725b;
      color: white;
      height: 56px;
      border-radius: 5px;
      width: 100%;
      flex-grow: 1;
      text-transform: uppercase;
    }
    // @media (max-width: 425px) {
    //   button {
    //     height: 3rem;
    //   }
    // }
    button:hover {
      background: #f79e88;
      border-color: #f79e88;
    }

    .datePicker {
      border: none;
      width: 100%;
      height: 38px;
      padding: 0px;
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
  @media (max-width: 425px) {
    .inlineSearchForm {
      justify-content: center;
    }
  }
}
.imgIcon{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  @media (max-width:768px) {
    margin-right: 10px;    
  }
}
.inputContainer{
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.locationText {
  color: #313131;
}
.pageTitle{
  display: none;
}
@media (max-width: 768px){
  .searchComponentBar {
    // width: 90%;
    height: 100%;
    width: 335px;
    // margin-top: -5rem;
  }
  .pageTitle{
    display: block;
  }
}