.contactBanner {   
}

.contactBannerImage {
    width: 100%;
}


@media screen and (max-width:768px){   
}


.contactMediumSection {
    display: flex;
    flex-direction: row;
    padding: 30px 50px;
}

.contactMedium {
    flex:1;
}

.contactMediumRef {
    display: flex;
    /* justify-content: space-around; */
}

.contactMediumRefDiv {
    width: 50px;
}

.contactMediumRef i {
    font-size: 24pt;
    color: #500e4b;
}

.contactMediumRefTitle {
    font-size: 14pt;
}

.contactMediumRef p{
    line-height: 0px;
    color: #666;
}

@media screen and (max-width:768px){
    .contactMediumSection {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .contactMedium {
        flex: 1;
        padding: 10px;
    }

    .contactMediumRefDiv {
        width: 60px;
    }

    .contactMediumRef i {
        font-size: 28pt;
        color: #500e4b;
    }
}

.writeAndHereSection {
    display: flex;
    padding: 30px;
    margin-top: 20px;
}

.HereSection{
    flex: 1;
    background-color: #500e4b;
    padding: 20px;
}

.HereSectionTitle {
    color: white;
}

.HereSectionMap {
    padding: 30px;
}

.HereSectionAddress {
    color: white;
    font-size: 12pt;
    line-height: 15px;
    padding: 30px;
}

.HereSectionConnectText {
    color: white;
    font-size: 12pt;
}

.HereSectionConnect {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.HereSectionConnect i {
    color: white;
    font-size: 25pt;
}

.WriteUsSection {
    flex: 1;
    padding: 30px;
    background-color: rgba(240,244,249,var(--bg-opacity));
}

.contactUsForm {
    margin-top: 65px;
}

.WriteUsSectionIcon {
}

.WriteUsSection i {
    position: absolute;
    font-size: 18pt;
    padding: 10px;
    color: #e2e8f0;
}

.WriteUsSectionInput::placeholder {
    padding-left: 35px;
    color: #e2e8f0;
}

.contactUsForm textarea::placeholder {
    padding: 10px;
}

.contactUsFormButton {
    margin-top: 30px;
    height: 48px;
    width: 50%;
    color: white;
    background-color: #500e4b;
    border: 1px solid #500e4b;
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (max-width:500px){
    .writeAndHereSection {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .HereSection {
        padding: 0px;
        /* text-align: left; */
    }

    .HereSectionTitle {
        padding: 0px 25px;
    }

    .HereSectionMap {
        padding: 0px 30px;
    }

    .contactUsForm {
        margin-top: 50px;
    }

    .WriteUsSectionTitle {
        margin-left: -10%;
    }

    .WriteUsSection i {
        margin-left: -30px;
    }

    .WriteUsSectionInput {
        margin: 0px -10%;
        width: 120% !important;
    }

    .contactUsFormButton {
        margin-left: -32px;
    }
}