
/* .modal {
=======
.modal {
>>>>>>> origin/homepage
=======
/* .modal {
>>>>>>> master
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none;
}

.modalcontent {
  background: white;
  border-radius: 5px;
  width: 48%;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  -ms-overflow-style: none;
  overflow-y: auto;
  position: relative;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modalcontent::-webkit-scrollbar {
  display: none;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> master
} */

.modal {
    /* position: fixed;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background: white;
    padding: 2%;
    border-radius: "0.625rem";
    z-index: 1;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    margin-right: 25%; */
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-overflow-style: none;
}

.modalcontent {
    /* position: relative;
    left: 21%;
    width: 40%;
    background-color: #ffffff;
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 3rem);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    overflow-y: auto; */
    background: white;
    width: 40%;
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    -ms-overflow-style: none;
    overflow-y: auto;
    position: relative;
    /* margin-right: 20%; */
}

.modal::-webkit-scrollbar {
    display: none;
}

.modalcontent::-webkit-scrollbar {
    display: none;
}

