// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.cc-button {
  background: transparent;
  color: #ffffff;
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  outline: 0;
  padding: 7px 20px;
  @media screen and(max-width:'768px') {
    width: 140px;
    height: 36px;
    top: 265px;
    left: 20px;
  }
  &--outline {
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  &--primary {
    background: #ea725b;
    border-radius: 5px;
  }
}
