.cc-jumbotron {
  position: relative;
  box-sizing: border-box;
  > figure {
    img {
      height: 356px;
      width: 100%;
    }
  }

  &__content {
    // display: none;
    position: absolute;
    top: 110px;
    width: 90%;
    left: 20px;
    margin-top: 20px;
    h3 {
      font-family: Chapaza;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
    }
    span {
      font-family: Chapaza;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
    }
  }
}

@media screen and (min-width: 768px) {
  .cc-jumbotron {
    position: relative;
    box-sizing: border-box;
    // padding-top: 40px;

    > figure {
      img {
        height: 459px;
        width: 100%;
      }
    }

    &__content {
      display: block;
      position: absolute;
      top: 50%;
      left: 8vw;
      transform: translateY(-30%);
      width: 35%;
      h3 {
        span {
          font-size: 36px;
          line-height: 45px;
        }
        font-size: 36px;
        line-height: 45px;
        color: #ffffff;
      }
    }
  }
}
