.sticky-bar-destination {
    position: sticky;
    top: 0px;
    z-index: 9;
}
.dlc{
    align-items: center;
    display: none;

    @media screen and (max-width:600px) {
        display: flex;
    }
}
.custom-dots{
    height: 6px;
    width: 6px;
    margin: 4px;
    border-radius: 10px;
    background-color: #E16E57;
}
.custom-dots-active{
    height: 10px;
    width: 10px;
    margin: 4px;
    border-radius: 10px;
    background-color: #E16E57;
}
.heading-text{
    font-weight: bold;
    font-size: 14pt;
}
.day-text{
    font-size: 11pt;
}

.user-address{
    margin-left: 55px;
    margin-bottom: 50px;
    color: gray;
}

.un-text{
    color: #EA725B;
    font-weight: bold;
    margin-left: 55px;
    line-height: 5px;
}

.mainContainer{
    padding: 20px;
    @media screen and (max-width:767px) {
        padding: 10px;
    }

    img{
        height: 100%;
        width: 100%
    }

    @media screen and (max-width:600px) {
        // margin-top: 70px;
    }
    
    .conatentIcon{
        float: right;
        svg{
            margin-right: 15px;
            margin-left: 10px;
        }
        @media screen and (max-width:767px) {
            float: none;
            
            svg{
                height: 15px;
                width: 15px;
                margin-top: 5px;
            }
        }
    }

    h2{
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 35px;
        color: #500E4B;
    }

    h4{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #500E4B;
    }

    .videoDes{
        padding-top: 34px;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 31px;
            color: #616161;
        }
        .videoContainer{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .videoContainerIcon{
                position: absolute;
                svg{
                    height: 60px;
                    width: 58px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            padding-top: 0px;
        }
    }

    .collapseContainer{
        
        @media screen and (max-width:767px) {
            display: none;
        }
        
        h2{
            // margin: 30px 0;
        }

        .ant-collapse.ant-collapse-borderless{
            align-items: center;
            display: flex;
            flex-direction: column;

            .ant-collapse-item{
                width: 95%;
            }

            
        }

        .ant-collapse-borderless{
            background-color: #FFFFFF;
            box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
        }
        .ant-collapse-header{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            padding: 20px 30px;

            span.anticon.anticon-right.ant-collapse-arrow{
                position: absolute;
                left: -15px;
                font-size: 16px;

                @media screen and (max-width:767px) {
                    left: 5px;
                    top:30px
                }
            }
        }

        .ant-collapse-content-box {
            p{
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }
        }
    }

    .sliderMain{
        padding: 30px 0;
        position: relative;
        width: calc(100%);
        margin: 25px 0;
        display: inline-block;
        @media screen and (max-width:767px) {
            width: 100%;
        }

        @media screen and (max-width:600px) {
            display: none;
        }

        h2{
            position: absolute;
            top: 30px;

            @media screen and (max-width:767px) {
                position: relative;
                top: 0px;
            }
        }

        .disable{
            pointer-events: none;
            opacity: 0.5;
        }
        .sliderUl{
            height: 450px;
        }

        .sliderList{
            margin-right: 60px;
            height: 400px;
            width: 350px;
        }

        .sliderList2{
            margin-right: 60px;
            height: 250px;
            width: 350px;
            @media screen and (max-width:1024px) {
                margin : 20px
            }
        }

        .react-multi-carousel-list{
            padding-top: 90px;
            @media screen and (max-width:667px) {
                padding-top: 10px;
            }
        }

        .carousel-button-group{
            position: absolute;
            right: 100px;
            top: 0;
            display: flex;
            flex-direction: row;
            display: flex;

            @media screen and (max-width:600px) {
                display: none;
            }

            .leftIcon{
                margin-right: 20px;
            }
            .iconOut{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
            }
            svg{
                height: 15px;
                width: 12px;
            }
        }
        
        .sliderContent{
            background: #FFFFFF;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);

            .sliderText{
                padding: 0px 20px 0px 20px;
                
                h3{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 30px;
                    color: #3A3A3A;
                }
    
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #8F8F8F;
                }
            }
        }

        .sliderContentFooter{
            width: 364px;
            height: 186px;
            background: #FFFFFF;
            box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
            border-radius: 5px;

            .sliderFooterText{
                padding: 10px;
                padding-left: 70px;
                position: relative;

                .displayImage{
                    position: absolute;
                    left: 10px;
                    top: 0px;
                    width: 44px;
                    height: 44px;
                }

                h5{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    color: #500E4B;
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    word-wrap: break-word;
                    font-size: 16px;
                    line-height: 126.19%;
                    color: #3A3A3A;
                }
            }
            
        }
    }
}

.headerContent{
    background-color: #ffff;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.07);
    width: 100%;
    padding-left: 100px;

    @media screen and (max-width:1023px) {
        padding: 0 20px;
        display: none;
    }

    .headingMain{
        // padding-top: 20px;
    }

    h1{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        color: #500E4B;
        @media screen and (max-width:767px) {
            font-size: 15px;
        }   
    }
    h3{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #500E4B;
    }
    h4{
        
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 16px;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #EA725B;
    }
    h5{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #3A3A3A;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #3A3A3A;
    }
    .bookBtn{
        background: #EA725B;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        h1{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 43px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0;

            @media screen and (max-width:767px) {
                font-size: 20px;
            }
        }
    }

}

.time {
    position: absolute;
  width: 62px;
  height: 16px;
  left: 13px;
  top: 17px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
    
    color: #FFFFFF;
  }
  .content {
    margin-top: 6rem;
    padding: 1rem;
  }
  
  .book-container{
    width: 143px;
    display: flex;
  justify-content: center;
  align-items: center;
  background: #EA725B;
  }
  
  .start-from{
    position: absolute;
  width: 150px;
  height: 16px;
  left: 13px;
  top: 17px;
  
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
    
    color: #FFFFFF;
  }
  
  .price{
    position: absolute;
  width: 150px;
  height: 14px;
  left: 13px;
  top: 35px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  /* identical to box height */
  
  
  color: #EA725B;
  }
  
  .book-text{
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
  /* identical to box height */

  @media screen and (max-width:320px) {
    font-size: 12px;
    }
  
  text-transform: uppercase;
  
  color: #FFFFFF;
  }
  
  .head-cont{
        position: sticky;
        z-index: 99;
        width: 100%;
        margin-left: 0%;
        height: 65px;
        left: 0px;
        top: -1px;
        display: none;
        @media screen and (max-width:1023px) {
            display: flex;
        }

        @media screen and (max-width:768px) {
            // display: none;
        }


        background: #500E4B;
}

.arrow-left-button {
    padding: 3px 9px 8px;
    font-size: 21px;
    border-radius: 5px;
    height: auto;
    line-height: normal;
    margin: 10px;
    position: absolute;
    top: 23%;
    left: 0;
    bottom: 0;
}

.head-cont-fixed{
    position: fixed;
    z-index: 99;
    width: 100%;
    margin-left: 0%;
    height: 65px;
    left: 0px;
    bottom: 0px;
    display: none;
    @media screen and (max-width:1023px) {
        display: flex;
    }

    @media screen and (max-width:768px) {
        // display: none;
    }


    background: #500E4B;
}

.top-bar {
    display: none;
    margin-top: 80px;
    padding-left: 15px;
    align-items: center;

    @media screen and (max-width:600px) {
        display: flex;
    }
}

.menu-button {
    font-size: 16pt;
}

.destination-name{
    font-size: 12pt;
}

.title-text {
    font-size: 14pt;
    font-weight: bold;
}

.drawer-icons {
}
  
  .date {
    position: absolute;
  width: 95px;
  height: 14px;
  left: 13px;
  top: 35px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  
  color: #FFFFFF;
    
}


.heading {
    @media screen and (max-width:1023px) {
        // display: none;
    }
}

.main-image {
    display: flex;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.trip-stops {
    @media screen and (max-width: 768px) {
        margin-top: 25px;
    }
}

.stop-description {
    font-size: 10pt !important;
    line-height: 18px !important;
}

.testimonial-text{
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    color: #606060;
}

.sliderMain-mobile {
    padding: 20px 0;
    position: relative;
    width: calc(100% + 1%);
    margin: 20px -60px;
    @media screen and (max-width:767px) {
        width: calc(100% + 1%);
        margin: 0px 0 0 -1%;
    }

    @media screen and (max-width:600px) {
        display: inline-block;
    }

    .quote-img{
        height: 20px;
        width: 20px;
        position: absolute;
        left: 23px;
        top: 30px;
    }

    .userImage{
        position: absolute;
        left: 50px;
        // top: 0px;
        bottom: 10px;
        width: 44px;
        height: 44px;
    }

    h2{
        position: absolute;
        top: 30px;
        font-weight: 500;
        display: none;

        @media screen and (max-width:767px) {
            position: relative;
            top: 0px;
            display: flex;
            margin-left: 5px;
        }
    }

    .test-text{
        font-size: large;
        font-weight: 500;
        color: #606060;
        display: none;
        @media screen and (max-width:768px) {
            display: flex;
            margin-left: 5px;
        }
    }

    .disable{
        pointer-events: none;
        opacity: 0.5;
    }
    .sliderUl{
        height: 450px;
    }

    .sliderList{
        margin-right: 60px;
        height: 400px;
        width: 350px;
    }

    .sliderList2{
        height: 250px;
        width: 330px;
        @media screen and (max-width:1024px) {
            margin : 10px
        }
    }

    .react-multi-carousel-list{
        padding-top: 90px;
        @media screen and (max-width:667px) {
            padding-top: 10px;
        }
    }

    .carousel-button-group{
        position: absolute;
        right: 100px;
        top: 0;
        display: flex;
        flex-direction: row;
        display: flex;

        @media screen and (max-width:600px) {
            display: none;
        }

        .leftIcon{
            margin-right: 20px;
        }
        .iconOut{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
        }
        svg{
            height: 15px;
            width: 12px;
        }
    }
    
    .sliderContent{
        background: #FFFFFF;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);

        .sliderText{
            padding: 0px 20px 0px 20px;
            
            h3{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                color: #3A3A3A;
            }

            p{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #8F8F8F;
            }
        }
    }

    .sliderContentFooter{
        width: 345px;
        height: 220px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .sliderFooterText{
            padding: 10px;
            padding-left: 50px;
            position: relative;

            .displayImage{
                position: absolute;
                left: 10px;
                top: 0px;
                width: 44px;
                height: 44px;
            }

            h5{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #500E4B;
            }
            
        }
        
    }
}
.carousel-cont{
    // overflow: hidden;
}
.content-carousel{
    padding: 0px 0;
    position: relative;
    width: calc(100% + 40px);
    margin: 25px -40px;
    display: inline-block;
    @media screen and (max-width:768px) {
        width: calc(100%);
        margin: 25px 0 0 0;
        display: inline-block;
        .cardTitle {
            font-size: 12pt !important;
            color: black !important;
            margin-top: 15px;
        }
        .cardDescription {
            font-size: 10pt !important;
        }
        .cardImage {
        }
        .sliderContent {
            height: 230px;
            margin: -10px 0; 
            width: 100%;
            padding: 0px;
        }
        .sliderUl{
            height: 450px !important;
        }
    }

    .disable{
        pointer-events: none;
        opacity: 0.5;
    }
    .sliderUl{
        // box-shadow: 30px 30px 30px 30px rgba(0,0,0,0.2) !important;
        height: 450px;
    }

    // .sliderList{
    //     margin-right: 60px;
    //     height: 400px;
    //     width: 350px;
    // }

    .sliderList2{
        // box-shadow: 30px 30px 30px 30px rgba(0,0,0,0.2) !important;
        padding: 20px;
        @media screen and (max-width:768px) {
            padding: 5px;
            padding-bottom: 20px;
        }
    }

    .react-multi-carousel-list{
        padding-top: 90px;
        @media screen and (max-width:667px) {
            padding-top: 10px;
        }
    }

    .carousel-button-group{
        position: absolute;
        right: 100px;
        top: 0;
        display: flex;
        flex-direction: row;
        display: flex;

        @media screen and (max-width:600px) {
            display: none;
        }

        .leftIcon{
            margin-right: 20px;
        }
        .iconOut{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
        }
        svg{
            height: 15px;
            width: 12px;
        }
    }
    
    .sliderContent{
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        overflow: hidden;
        height: 100%;

        .cardImage{
            height: 40%;
        }

        

        .sliderText{
            padding: 0px 20px 0px 20px;
            
            h3{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                color: #3A3A3A;
            }

            p{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #8F8F8F;
            }

            .cardTitle{
                color: #3A3A3A;
                margin-top: 10px;
                font-weight: bold;
                font-size: 20px;                ;
            }

            .cardDescription{
                font-size: 16px;
            }
        }
    }

    .sliderContentFooter{
        width: 364px;
        height: 186px;
        background: #FFFFFF;
        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
        border-radius: 5px;

        .sliderFooterText{
            padding: 10px;
            padding-left: 70px;
            position: relative;

            .displayImage{
                position: absolute;
                left: 10px;
                top: 0px;
                width: 44px;
                height: 44px;
            }

            h5{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #500E4B;
            }
            p{
                font-style: normal;
                font-weight: normal;
                word-wrap: break-word;
                font-size: 16px;
                line-height: 126.19%;
                color: #3A3A3A;
            }
        }
        
    }
}

.hero-section {
    display: none;
    position: relative;
    height: 150vh;
    background-size: cover;
    background-image: url("../../assets/img/coconuttree.png");

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.title-text-cruise {
    text-transform: uppercase;
}


.total-days {
    position: absolute;
}

.header-of-plan {
    h6 {
        color: white;
    }
}

.pinline {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.pin {
    height: 15px;
}

.line {
    height: 45px;
}

.plan {
    padding-left: 15%;
    color: white;
    p{
        line-height: 5px;
    }
}

.plan-day {
    font-size: 10pt;
}

.plan-place {
    font-weight: 600;
}

.date-of-day {
    font-size: 8pt;
    margin-bottom: 35px;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0,1) 0%, rgba(255,255,255, 0) 50%);
}

.faq-section {
    display: none;

    @media screen and (max-width:767px) {
        display: block;
    }

    .faq-title {
        font-size: 20pt;
    }

    .faq-description {
        margin-top: -20px;
        font-size: 10pt;
    }

    .faq-accord-whole {
        border-bottom: 0.5px solid rgba(97, 97, 97, 0.5);;
    }

    .faq-accord-head {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .faq-accord-title {
        font-weight: bold;
    }
    
    .accrod-sign {
        width: 20px;
        // height: 20px;
    }

    .accrod-description {
        margin-top: 5px;
        span {
            font-style: italic;
            color: orange;
        }
    }
}