$primary-text-color: #313131;
$secondary-text-color: #616161;

.bookingSummary {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-bottom: 50px;
}

.heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: $primary-text-color;
}

.icon-summry-book{
  height: 25px;
  width: 25px;
}

.sectionHeading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  text-transform: capitalize;
  color: $secondary-text-color;
}

@media (max-width: 768px) {
  .sectionHeading {
    margin-top: 20px;
  }
}

.secondaryText {
  color: $secondary-text-color;
}

.primaryText {
  color: $primary-text-color;
}

.cardContent {
  padding: 20px 40px;
}

.priceCardContent {
  padding: 20px 40px;
  padding-top: 0px;
}

.priceDetail,
.billingDetail {
  .section:not(:first-child) {
    margin-top: 20px;
  }
  .sectionRow {
    display: flex;
    span {
      display: block;
      width: 50%;
    }
    span:last-child {
      text-align: right;
    }
  }
  .label {
    font-size: 16px !important;
  }
  .heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
  }
  .subHeading {
    color: $secondary-text-color;
    font-size: 16px;
  }
  .cardFooter {
    display: flex;
    background-color: rgba(234, 114, 91, 0.2);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    border-radius: 0px 0px 5px 5px;
    span{
      font-size: 14pt;
    }
    div {
      width: 50%;
      margin: 10px 36px;
    }
    div:last-child {
      text-align: right;
    }
  }

  .formGroup {
    max-width: 70%;
    margin-top: 0.5rem;
    .inputAppendBtn {
      border-radius: 0px 5px 5px 0px;
      span {
        background-color: #ea725b;
        color: white;
      }
    }
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.bookingDetail {
  height: 100%;
}

.priceDetailHeader{
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 40px 0px 39px;
  align-items: center;
}

.priceCardHeading {
  font-weight: 700;
  font-size: 14px;
  color: $primary-text-color;
  // align-self: center;
}

.paymentDetailFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #616161;
  border-top: 1px solid #616161;
  padding-top: 0.7rem;
}

.flex {
  display: flex;
}

.dashed {
  border-top: 1px solid dashed !important;
}

.priceDetailAccordion{
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 18px;
  font-weight: 600;
  color: #616161;
  // border-top: 1px solid #616161;
  // padding-top: 0.7rem;
}


@media screen and (max-width: 768px) {
  .billingDetail {
    .formGroup {
      max-width: 100%;
    }
  }
}

.modifyBookingBlock {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.lowerModifyBlocks {
  border: 1px solid black;
}

.modifyBlockMobile {
  display: none;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}

.modifyBlockDesktop {
  display: block;
  box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.25);
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.blockselection {
  border-radius: 5px;
  
  .editIcon {
    display: none;
  }

  &:hover {
    background-color: #F1D9D4;
    .editIcon {
      display: block;
    }
  }
}

.priceDetailCard{
  padding-left: 20px !important;
  @media screen and (max-width: 425px) {
    padding-left: 0px !important;
  }
}

.progressContainer{
  // padding: 74px 0px;
  align-items: center;
}

.checkCircleRound {
  display: none !important;
  position: absolute;
  right: -10px; 
  bottom: 110px;
  color: #ea725b;
  background-color: white; 
}

.paymentOptions {
  background: #F6F6F6;
  &:hover {
    border: 1px solid #EA725B;
    background: #EA725B0D;
    .checkCircleRound {
      display: block !important;
    }
  }
}

.selectedPaymentOption {
  border: 1px solid #EA725B;
  background: #EA725B0D;
  .checkCircleRound {
    display: block !important;
  }
}

@media screen and (max-width: 425px) {
  .progressContainer{
    padding: 32px 0px 16px;
  }
}

.cancellation {
  font-size: 16px;
  color: #ea725b;
  cursor: pointer;
}