.bannerSection {
    background-image: url("../../assets/img/destination-page/banner.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}

.bannerTitle {
    color: white;
    font-size: 40pt;
    font-weight: bold;
}

.bannerSubTitle {
    color: white;
    font-size: 18pt;
    letter-spacing: 4pt;
}

@media screen and (max-width:768px){
    .bannerSection {
        background-image: url("../../assets/img/destination-page/banner_mobile.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .bannerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(170%);
    }

    .bannerTitle {
        color: white;
        font-size: 22pt;
        font-weight: bold;
    }
    .bannerSubTitle {
        color: white;
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        letter-spacing: 4pt;
    }
}

.vacationParagraph {
    text-align: center;
    width: 74%;
    margin: 0px auto;
    /* padding: 0px 110px; */
}

.vacationParagraphText {
    font-size: 14pt;
    color: #616161;
}

.trendingCruisesDesktop {
    text-align: center;
    margin-top: 5rem;
}


.trendingCruisesDesktopDescription {
    font-size: 14pt;
    color: #616161;
}

.trendingCruisesDesktopImageStack {
    display: flex;
    flex-direction: row;
}

.trendingCruisesDesktopImage {
    width: 394px;
}

@media screen and (max-width:768px){
    .vacationParagraph {
        text-align: left;
        width: 100%;
        margin: 20px auto;
    }

    .vacationParagraphText {
        font-size: 12pt;
        color: #616161;
    }
}

.cruiseDeparturePorts {
    margin-top: 5rem;
    text-align: center;
}

.cruiseDeparturePortsTitle {
    font-size: 26pt;
}

.cruiseDeparturePortsDescription {
    font-size: 14pt;
    color: #616161;
}

.cruiseDeparturePortsSlider {
    border-radius: 10px;
    margin: 0px !important;
    opacity: 1;
}
.cruiseDeparturePortsSlider:hover {
    background-image: linear-gradient(to top, #fff 50%, #a60000 50%);
    filter: brightness(0.5);
    transition: all 1s ease;
}

.cruisePortContent {
    position: absolute;
    bottom: 0px;
    text-align: left;
    display: none;
}

.cruiseDeparturePortsSlider:hover .cruisePortContent {
    display: block;
}

.cruiseDeparturePortsSlider:hover .cruiseDeparturePortName {
    display: none;
}

.departurePortImage{
    border-radius: 10px; 
    height: 520px; 
    width: 100%; 
    object-fit: cover;
}

.cruiseDeparturePortName {
    position: absolute;
    bottom: 0px;
    padding: 15px;
}

.cruiseDeparturePortNameText {
    font-weight: bold;
    color: white;
}

.cruisePortContentTitle {
    color: white;
    padding: 0px 20px;
}

.cruisePortContentDescription {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.viewCruises {
    color: white;
    background-color: #ea725b;
    border: 1px solid #ea725b;
    padding: 10px 10px;
    border-radius: 5px;
}

.exploreMore{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 10px;
}

@media screen and (max-width:768px){
    .cruiseDeparturePorts {
        text-align: left;
    }

    .cruiseDeparturePortsTitle {
        font-size: 22pt;
    }

    .cruiseDeparturePortsDescription {
        font-size: 12pt;
    }

    .departurePortImage{
        border-radius: 10px; 
        height: 520px;
        width: 100%; 
        object-fit: cover;
    }
}

.occasions {
    text-align: center;
    margin-top: 5rem;
}

.occasionDescription {
    font-size: 14pt;
    color: #616161;
}

.occasionCategory {
    font-weight: bold;
    color: #ea725b;
}

.getMoreExpiration {
    color: #ea725b;
    font-size: 16pt;
    font-weight: bold;
}

.inspiration {
    text-align: center !important;
}

@media screen and (max-width:768px){
    .occasions {
        text-align: left;
    }
    .occasionsTitle {
        font-size: 22pt;
    }
}


.social-media-area {
    padding: 0 15px 100px;
  }
  
  .social-media-area-heading-group {
    max-width: 880px;
    margin: 0 auto 40px;
  }
  
  .social-media-list {
    list-style: none;
  }
  
  .social-media-list li {
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px;
  }
  
  .social-media-list li::before {
    display: none;
  }
  
  .social-media-list li a {
    background-color: #ea725b;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 100px;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    padding: 0;
  }
  .slider {
    margin-left: 0;
    margin-right: 0;
    /* display: none !important; */
  }
  
  .destinations-for-weddings-area .link {
    font-size: 20px;
    font-weight: 700;
    color: #ea725b;
    line-height: 30px;
    text-align: center;
    display: block;
    padding-right: 15px;
  }
  .readMore {
    color: #ea725b;
    font-weight: 600;
    text-transform: uppercase;
  }
  .downloadvoucher ul li {
    font-size: 18px;
    color: #616161;
  }
  
  .listitems ul li {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    margin-bottom: 10px;
    padding-left: 30px;
  }
  
  .listitems ul li::before {
    content: "";
    background-color: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    /* top: 50%; */
    /* transform: translatey(-50%); */
  }
  .listitems ul li::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f00c";
    position: absolute;
    top: 0;
    /* top: 50%; */
    left: 5px;
    font-size: 11px;
    color: #ea725b;
    transition: all 0.3s ease;
    /* transform: translateY(-50%); */
  }
  .wedding-functions-area {
    margin-top: 30px;
  }
  .pageSection {
    margin-top: 4.5rem;
    margin-bottom: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .social-custom-align {
    padding-bottom: 100px;
    margin-bottom: 0px;
  }