@media screen and (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px;
  }

}
@media screen and (max-width: 1280px) {
  // .price-container{
  //   height: 240px !important;
  // }
}

@media screen and (max-width: 1441px) {
}

img {
  max-width: 100%;
}

.btn:focus {
  box-shadow: none;
}
.full--bgcard-view {
  background-repeat: no-repeat;
  background-position: -60px 53px;
  padding: 40px;
  min-height: 338px;
}
.package--choose-txt {
  width: 70%;
  margin-left: auto;
}
.package--choose-txt h3 {
  font-size: 26px;
  font-weight: 700;
  color: #313131;
}
.package--choose-txt p {
  color: #616161;
  font-size: 18px;
  font-weight: 400;
}
.cardbox--tablecard {
  height: calc(100%);
}
.pricedtl--title {
  font-size: 24px;
  font-weight: 700;
}
.table.tableprice--dtl {
  margin-bottom: 40px;
}
.tableprice--dtl td {
  border: 0;
  padding: 5px 0px;
  font-size: 17px;
  color: #313131;
  vertical-align: middle;
}
.tr-bookview td:last-child {
  text-align: right;
}
.tr-bookview.bnm td {
  padding-top: 10px;
}
.tr-bookview .extra--book-td {
  font-size: 24px;
  font-weight: 700;
}
.btn-proceed {
  background: #ea725b;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  min-width: 150px;
}
.btn-proceed:hover {
  color: #fff;
  background: #f79e88;
  border-color: #f79e88;
}
.heading-h3 {
  font-size: 36px;
  font-weight: 400;
}
.nav-tab-pills {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}
.nav-items--main {
  display: inline-block;
  margin-right: 20px;
}
.nav-items--main .navLink--tab {
  color: #616161;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #616161;
  padding: 5px 39px;
  border-radius: 10px;
  display: inline-block;
}
.nav-items--main.active .navLink--tab {
  background: #500e4b;
  color: #fff;
  height: 48px;
  width: 160px;
  padding: 0px;
}

.navLink--tab--deactive {
  color: black;
  background: white;  
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #616161;
  // padding: 5px 39px;
  border-radius: 10px;
  display: inline-block;
  width: 160px;
  height: 48px;
}
.wigite-conten--main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.subtab--title {
  font-size: 24px;
  font-weight: 700;
}

.price-container{
  height: 70px;
}
.row-grid-List {
  background: #ffffff;
  box-shadow: 0px 9px 20px #0000000d;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
}

.carousel-parent {
  overflow: hidden;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  height: 35%;
}

.image--slide-widgit {
  height: 100%;
}
.image--slide-widgit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inclusin-flex--wrapContent {
  padding: 30px 10px 10px 10px;
}

.inclusion-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inclusion-icon {
  height: 30px !important;
  min-height: 30px;
  width: auto;
  object-fit: contain;
}

.inc-text span {
  color: #EA725B;
  font-size: 10pt;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

.inclusion{
  height: 50px;
  width: 50px;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
}

.topHead--excurr {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  margin-bottom: 20px;
}

.topHead--excurr h4 {
  font-size: 12pt;
  font-weight: 700;
  color: #313131;
  margin-bottom: 0;
}

.topHead--excurr h1 {
  font-size: 12pt;
  font-weight: 700;
  color: #313131;
  margin-bottom: 0;
  height: 45px;
}
.topHead--excurr p {
  font-size: 18px;
  font-weight: 500;
  color: #616161;
  flex: 1;
  line-height: normal;
  padding-left: 15px;
  margin-bottom: 0;
}
.disc-exccur-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #616161;
}
.disc-exccur-txt {
  margin-bottom: 30px;
}
.bottom-view--transf {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.bottom-view--transf .leftSide--tranitem,
.bottom-view--transf .rightRemove--btn {
  flex: 1;
}
.leftSide--tranitem ul {
  list-style: none;
  padding-left: 0;
}
.leftSide--tranitem ul li {
  font-size: 16px;
  color: #313131;
  margin-bottom: 5px;
}
.leftSide--tranitem ul li span {
  color: #616161;
  display: inline-block;
  margin-left: 10px;
}
.rightRemove--btn {
  text-align: right;
}

.prices-of-shores {
  padding-left: 150px;
}

.btn-remove {
  background-color: #b1b1b1;
  color: #fff;
  // width: 150px;
  width: 100%;
}
.btn-add {
  background-color: #ea725b;
  color: #fff;
  width: 100%;
}
.btn-remove:hover,
.btn-add:hover {
  color: #fff;
  background: #f79e88;
  border-color: #f79e88;
}
.package-col-Img {
  position: relative;
}
.package--name-posit {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 0px 30px;
}
.package--name-posit .package--title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0px;
}

.badge {
  display: flex;
}

/*---------------------------responsive-----------------------*/
@media screen and (max-width: 992px) {
  .inclusin-flex--wrapContent {
    padding: 20px 20px 20px 20px;
  }
  .image--slide-widgit {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .full--bgcard-view {
    padding: 20px;
    min-height: 270px;
    background-size: 450px 250px;
    background-position-y: 60px;
    background-position-x: -45px;
  }
  .package--choose-txt {
    width: 65%;
  }
  .package--choose-txt h3 {
    font-size: 20px;
  }
  .package--choose-txt p {
    font-size: 15px;
  }
  .pricedtl--title {
    font-size: 20px;
  }
  .table.tableprice--dtl {
    margin-bottom: 20px;
  }
  .tableprice--dtl td {
    font-size: 15px;
  }
  .tr-bookview .extra--book-td {
    font-size: 20px;
  }
  .btn-proceed {
    font-size: 14px;
  }
  .heading-h3 {
    font-size: 24px;
  }
  .nav-items--main {
    margin-right: 14px;
    flex: 1;
  }
  .nav-items--main .navLink--tab {
    // font-size: 14px;
    padding: 5px 10px;
  }
  .subtab--title {
    font-size: 19px;
  }
  .disc-exccur-txt {
    margin-bottom: 20px;
  }
  .topHead--excurr h4,
  .topHead--excurr p,
  .disc-exccur-txt p {
    font-size: 14px;
  }
  .bottom-view--transf .leftSide--tranitem,
  .bottom-view--transf .rightRemove--btn {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .rightRemove--btn {
    text-align: center;
  }
  .btn-remove {
    font-size: 14px;
  }
  .package-col-Img {
    margin-bottom: 20px;
  }
  .package--name-posit .package--title {
    font-size: 20px;
  }

  .wigite-conten--main {
    grid-template-columns: auto;
  }

  .price-container{
    height: 80px;
  }
}
