.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-card-body {
  padding: unset;
}
.ant-form-item {
  margin-right: 0px !important;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  // color: #ea725b !important;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button::before {
  color: unset !important;
}
.slick-dots li.slick-active button::before {
  font-size: 12px !important;
}
a {
  color: #ea725b;
}
.ant-tag-checkable-checked {
  background: rgba(145, 145, 145, 0.08);
  padding: 10px 40px;
  border-radius: 20px;
  color: #ea725b;
}
.TravelItineraryCard {
  margin: 74px 0;
}

//Button Styles
.ant-btn-primary,
.ant-btn-background-ghost.primary-button {
  border-radius: 5px !important;
  width: 150px;
  height: 40px !important;
  font-size: 16px !important;
}
.ant-btn-primary > span,
.ant-btn.primary-button > span {
  font-size: 16px !important;
}

//Select Style
.select-transparent .ant-select-selector {
  background-color: transparent !important;
  color: white;
}
.select-transparent .ant-select-arrow {
  color: white;
}
.select-transparent .ant-select-focused {
  border-color: white !important;
}
//  .ant-select:not(.ant-select-disabled):hover .ant-select-selector{
//   border-color: white !important;
// }
.currencySelectorMobile .ant-select-selector {
  padding: 0px 20px !important;
  border-color: #3a3a3a !important;
  border-radius: 5px !important;
}
.currencySelectorMobile .ant-select-arrow {
  color: #3a3a3a !important;
}
.currencySelectorMobile .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #3a3a3a !important;
}
//Home Styles

//Colors
.primary-color {
  color: #ea725b;
}
.text-gray {
  color: #818181;
}
.text-primary{
  color: #500e4b !important;
}
.bg-purple {
  background: #500e4b !important;
}
.bg-purple-hover:hover {
  background: #500e4ba6 !important;
}
.banner-row {
  display: flex;
  flex-direction: row;
}


//Button
.bg-purple-button{
  background: #500e4b !important;
  border-color: #500e4b !important;
}
.bg-purple-button:hover{
  background: #500e4bd1 !important;
  border-color: #500e4b !important;
}
.bg-purple-button[disabled]{
  background-color: #654562 !important;
  color: white !important;
}
.outline-purple-button{
  background: white !important;
  border-color: #500e4b !important;
  color: #500E4B !important;
}
.outline-purple-button:hover{
  background: #500e4bd1 !important;
  border-color: #500e4b !important;
  color: white !important;
}
.tabHeadingPurple .ant-tabs-tab-btn  {
  color: #500E4B !important;
}

.search-bar {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(80, 14, 75);
  -moz-box-shadow: 0px 0px 5px 0px rgb(80, 14, 75);
  box-shadow: 0px 0px 5px 0px rgb(80, 14, 75);
}

.wheel-img{
  position: absolute;
  top: 60px;
  right: 360px;
  height: 200px;
  width: 200px;
  @media (max-width:768px) {
    top: 90px;
    left: -20px;
    height: 90px;
    width: 90px;
    z-index: -1;
  }
}

.anchor-img{
  margin: auto;
  position: absolute;
  top: 0; 
  left: 1130px; 
  bottom: 0; 
  right: 0;
  height: 180px;
  z-index: -1;
  align-self: center;
  width: 180px;
  @media (max-width:768px) {
    top: 0; 
    left: 280px; 
    bottom: -160px; 
    right: 0;
    height: 60px;
    width: 60px;
  }
}

.progress-bar-a{
  margin-top: 2.5%;
  @media (max-width:768px) {
    margin-top: 0%;
  }
}

.testimon-text{
  margin-left: 10px;
  @media (max-width:768px) {
    margin-left: 5px;
  }
}

.app-download-section {
  .description {
    font-size: 10px;
    line-height: 14px;
    color: #000000;
  }
}

//Utils
.cursor-pointer{
  cursor: pointer;
}
.Pad-right-placeholder .ant-picker-input > input:placeholder-shown {
  text-overflow: ellipsis;
  padding-right: 25%;
}
.ShowIcon .ant-picker-suffix {
  display: block !important;
}
.font-normal{
  font-style: normal;
}
@media screen and (max-width: 450px) {
  .w-xs-100{
    width: 100%;
  }
}


@media screen and (min-width: 768px) {
  .app-download-section {
    .description {
      color: #616161;
      font-size: 18px;
      line-height: 24px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}


.video-container {
  position: relative;
  padding-bottom: 30%;
  top: 60px;
  transform: translateX(13%);
  width: 80%;
  // padding-top: 30px;
  height: 0;
  overflow: hidden;
  .react-player__play-icon {
    border-style: unset !important;
    border-width: unset !important;
    border-color: unset !important;
    margin-left: unset !important;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/youtube.png");
    background-repeat: no-repeat;
  }

  .react-player__preview,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
  }
}

.bannerCarouselSlider .slick-dots{
  display: block !important;
  bottom:  18% !important;
}

.bannerCarouselSlider .slick-arrow.slick-prev {
  left: calc(91% - 60px) !important;
  top: 85% !important;
}

.bannerCarouselSlider .slick-arrow.slick-prev :hover {
  color: transparent !important;
  background: transparent !important;
}

.bannerCarouselSlider .slick-arrow.slick-next :hover {
  color: transparent !important;
  background: transparent !important;
}

.bannerCarouselSlider .slick-list {
  z-index: -1;
}

.bannerCarouselSlider .slick-arrow.slick-prev::before{
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f104";
  font-size: 40px;
  color: rgb(255, 255, 255);
  opacity: 1;
  z-index: 10;
  margin-left: 40px;
  background: rgba(165, 165, 165,0.5);
  padding: 0px 12.5px;
  border-radius: 100px;
}

.bannerCarouselSlider .slick-arrow.slick-next {
  left: calc(91% + 90px) !important;
  /* right: 0 !important; */
  top: 85% !important;
}

.bannerCarouselSlider .slick-arrow.slick-next::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f105";
  font-size: 40px;
  color: #fff;
  opacity: 1;
  z-index: 10;
  margin-left: -100px;
  background: rgba(165, 165, 165,0.5);
  padding: 0px 12.5px;
  border-radius: 100px;
  opacity: 1;
}

.bannerCarouselSlider .slick-dots{
  display: block !important;
  bottom:  10% !important;
}

.bannerCarouselSlider .slick-dots li button {
  background-color: rgba(255,255,255,0.5);
  border-radius: 100px;
  width: 6px;
  height: 6px;
  margin: 2px;
  padding: 0;
}

.bannerCarouselSlider .slick-dots li.slick-active button{
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  margin: 0;
}

.bannerCarouselSlider .slick-active {
  padding: 0px;
}

.bannerCarouselSlider .slick-dots{
  display: block !important;
  bottom:  16% !important;
}