.header {
  background-color: #500e4b;
  color: white;
  display: flex;
  padding: 0.75rem 1.5rem;
  border-radius: 5px 5px 0px 0px;
  align-items: center;
  & div {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }
}

.crossIcon {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.modalBody {
}

.nameSection {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}

.cabinName {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.arrowBtn {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 50px;
}

.content {
  padding: 1.8rem 1.8rem 0rem 1.8rem;
}

.subHeading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.subContent {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0rem;
  div {
    display: flex;
    align-items: center;
  }
}

.icon {
  padding-right: 0.5rem;
}

.priceSection {
  // font-size: 18px !important;
  // display: flex;
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
  // justify-content: space-between;
  // padding: 0.8rem 0rem;
  .priceHeading {
    font-size: 18px;
    font-weight: 600;
  }
}

.price {
  display: flex;
  align-items: center;
  min-width: 6rem;
  justify-content: space-around;
  span {
    font-size: 18px;
    @media (max-width:320px)  {
      padding-top: 12px;
      padding-left: 18px; 
      font-size: 6pt !important;
    }
    @media (max-width:481px) {
      padding-top: 12px;
      padding-left: 18px; 
      font-size: 8pt !important;
    }
  }
}

.carousel {
  height: 176px;
  width: 100%;
  display: flex;
  align-items: center;
  button {
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 100px;
    font-size: 0px !important;
    color: transparent !important;
    margin: 0 40px;
    &::before {
      color: black;
      font-size: 24px;
      margin: 3px -3px;
    }
  }
}

.slide {
  height: 176px;
  background-color: #616161;
  img {
    width: 100%;
    height: 100%;
  }
}

.priceDetailIcon {
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
  color: #616161;
}

.priceDetails {
  font-size: 16px !important;
  color: #616161;
  font-weight: normal;

  @media (max-width:320px)  { 
    font-size: 6pt !important;
    align-self: center;
  }

  @media (max-width:481px) { 
    font-size: 8pt !important;
  }
}

.amount {
  text-align: right;
  padding-right: 52px;
}

.priceHeader {
  @media (max-width:320px)  { 
    font-size: 6pt !important;
  }

  @media (max-width:481px) { 
    font-size: 8pt !important;
  }
}

@media screen and (max-width: 768px) {
    .cabinDetailModal {
      width: 100% !important;
      max-width: 100% !important;
    }

    .arrowBtn {
      font-size: 18px;
      font-weight: bold;
      align-items: center;
      border-radius: 5px;
      width: auto;
    }

    .cabinName {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      padding-top: 10px;
      text-align: center;
      text-transform: capitalize;
    }
}
