/* .heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  text-transform: capitalize;
} */

.selectYourCabinPT{
  padding-top: 40px;
}

@media (max-width:768px) {
  .selectYourCabinPT{
    padding-top: 10px;
  }
}

.heading {
  font-size: 28px;
}

.headingOffer {
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  text-transform: capitalize;
}

/* the slides */
.slick-slide {
  padding: 0px 5px;
}


.view-offers {
  display: none ;
}

.select-cabin-button {
  width: 150px;
  height: 40px;
  margin-top: 15px;
}


@media (max-width:320px)  { 
  .view-offers {
    display: flex;
  }

  .offers {
    display: none ;
  }
}

@media (max-width:1023px) { 
  .view-offers {
    display: flex;
  }

  .offers {
    display: none;
  }
}

.crossIcon {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
 
}
.crossIcon:hover {
  color: black;
}

.header {
  background-color: #500e4b;
  color: white;
  display: flex;
  padding: 0.75rem 1.5rem;
  border-radius: 5px 5px 0px 0px;
  align-items: center;
  
}

.header div {
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width:768px)  {
  .heading {
    font-size: 21px;
  }

  .view-offers {
    display: flex;
    margin-top: 10px;
  }

  .select-cabin-button {
    width: 140px;
    height: 36px;
    margin-top: 15px;
  }
}