.heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #313131;
  margin-bottom: 1.2rem;
}

@media (max-width: 576px) {
  /* .cabinCard:not(:first-child) {
    margin-top: 1.2rem;
  } */
}

.detailsMob {
  display: none;
}

.detailsWeb {
  display: block;
}

.cardName {
  margin-left: 15px;
}

.caroselImage {
  /* position: relative; */
  /* z-index: 1; */
}

.specialOffer {
  height: 90px;
  width: 90px;
  /* left: 100px; */
  position: absolute;
  left: -16px;
  top: -22px;
  z-index: 1;
}

.offers{
  padding-top: 5% !important;
}

@media screen and (max-width: 768px) {
  .heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  .cabinContainer {
    margin-top: 0px !important;
  }
  .cardName {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    width: 70%;
    /* padding-left: 12px; */
  }
  .detailsMob {
      display: flex;
      width: 30%;
      font-family: Roboto;
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      padding-left: 12px;
  }
  
  .detailsWeb {
      display: none;
  }

  .description {
    font-size: 14px;
    line-height: 150%;
  }
}

.overlayCard {
  border: 1px solid #EA725B;
  border-radius: 12px;
}

.checkCircleRound {
  position: absolute;
  right: -10px; 
  top: 0px;
  /* bottom: 110px; */
  /* color: #ea725b; */
  color: #0F9D58;
  background-color: white; 
}

.modalCard {
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  margin: 0px 20px;
  box-shadow: 0px 0px 5px #ccc; 
}

.mainModelSubCategory{
  max-width: unset !important;
}

.mainModel{
  padding: 15px 10px;
  padding-top: 40px;
  flex-direction: row;
  display: flex;
}

.modalCloseX {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.descriptionOfTheCategory {
  padding: 10px 20px;
}

.benefitTitle {
  font-size: 10pt;
  font-weight: bolder;
}

.categoryBenefits {
  list-style-type: none;
  margin-left: -25px;
}

.benefitCheckmark {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  /* padding: 20px; */
}

.categoryBenefit  {
  margin: 10px 0px !important;
}

.deckonModal {
  font-size: 12pt;
  font-weight: bolder;
}

.modalCabinPrice {
  font-size: 14pt;
  font-weight: bolder;
}

.modalCardHeading {
  font-size: 14pt;
  font-weight: bolder;
}