.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  padding: 2%;
  border-radius: "0.625rem";
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  text-align: center;
}
.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modalcontent {
  background-color: #ffffff;
  display: inline-block !important;
  vertical-align: middle;
  position: relative;
  max-width: 45vw;
  margin: 40px 2% !important;
  text-align: left;
  border-radius: 5px;
}

@media (max-width: 786px) {
  .modalcontent {
    width: 100%;
    max-width: 85vw;
    margin: 0 0 !important;
  }
  .modal {
    padding: 0px;
  }
}

/* @media (max-width: 567px) {
  .modalcontent {
    width: 76vh;
  }
} */


