// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-page {
  .fixed-menu {
    position: absolute;
    // top: 39px;
    width: 100%;
    z-index: 9999;
  }
  .header-navbar {
    a {
      color: #ffffff;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
    }
  }
}

// Content Image section css
.ci-section-container {
  background-image: url('../../img/home-page/experience-bg.svg'), url('../../img/home-page/map-bg.svg');
  background-repeat: no-repeat;
  background-position: 25px top, 0vw 37vh;
  padding-top: 10px;
}
.ci-section {
  padding: 30px 15px 30px 15px;

  @media (max-width: 768px) {
    padding: 20px 15px 20px 15px;
  }

  &__content {
    padding-bottom: 20px;
    > h3 {
      font-size: 24px;
      line-height: 33px;
      font-weight: normal;
      color: #3a3a3a;
      span {
        display: block;
        font-size: 24px;
        > span {
          display: inline;
        }
      }
    }
    > p {
      font-size: 16px;
      line-height: 22px;
      color: #616161;
    }
    > strong {
      color: #3a3a3a;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    > figure {
      img {
        min-height: 210px;
      }
    }
    &__overlay {
      bottom: 25px;
      left: 25px;
      position: absolute;
      width: 80%;
      > p {
        color: #ffffff;
        font-size: 14px;
        line-height: 16px;
      }
      > a {
        font-family: 'Roboto-Medium';
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .ci-section {
    display: flex;
    justify-content: space-between;
    // padding: 60px;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > h3 {
        font-size: 36px;
        line-height: 49px;
        color: #313131;
        span {
          font-size: 36px;
        }
      }
      > p {
        font-size: 20px;
        line-height: 27px;
        color: #616161;
        max-width: 90%;
      }
      > strong {
        font-size: 24px;
        line-height: 33px;
        color: #3a3a3a;
      }
    }
    &__image {
      > figure {
        margin: 0;
      }
      &__overlay {
        bottom: 60px;
        left: 40px;
        > p {
          font-size: 20px;
          line-height: 23px;
          padding-bottom: 1em;
        }
        > a {
          background: transparent;
          border: 1px solid #ffffff;
          border-radius: 5px;
          color: #ffffff;
          cursor: pointer;
          font-family: 'Roboto-Medium';
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 21px;
          outline: 0;
          padding: 7px 20px;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  // Inline image section
  .inline-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    &__heading {
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: #313131;
      margin-bottom: 25px;
    }
    &.left {
      flex-direction: row-reverse;
    }
    > h3 {
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: #313131;
      margin-bottom: 200px;
    }
    > div {
      max-width: 47%;
    }
    // padding: 60px;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        font-size: 18px;
        color: #616161;
      }
      > strong {
        font-size: 24px;
        line-height: 33px;
        color: #3a3a3a;
      }
    }
    &__image {
      > figure {
        margin: 0;
      }
      &__overlay {
        bottom: 60px;
        left: 40px;
        > p {
          font-size: 20px;
          line-height: 23px;
          padding-bottom: 1em;
        }
        > a {
          background: transparent;
          border: 1px solid #ffffff;
          border-radius: 5px;
          color: #ffffff;
          cursor: pointer;
          font-family: 'Roboto-Medium';
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 21px;
          outline: 0;
          padding: 7px 20px;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
// Ends

// Background Overlay section css
.bo-section {
  padding: 30px 0;
  &__top {
    padding: 0 15px;
    z-index: 999;
    h3 {
      font-size: 30px;
      line-height: 41px;
      text-transform: uppercase;
      color: #313131;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      color: #616161;
    }
  }
  &__image {
    position: relative;
    button {
      position: absolute;
      left: 5%;
      top: 10%;
    }
  }
}

@media screen and (min-width: 768px) {
  .bo-section {
    padding: 0 0 60px 0;
    position: relative;
    &__top {
      position: absolute;
      top: 90px;
      // padding: 0 60px;
      width: 40%;
      h3 {
        font-size: 36px;
        line-height: 49px;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        line-height: 27px;
        color: #818181;
        max-width: 80%;
      }
    }
    &__image {
      button {
        left: 60px;
        top: 280px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
      }
    }
  }
}
// Ends

// Seacation
.anchor-bg {
  background-image: url('../../img/home-page/anchor-bg.svg');
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 70vh;
}

// Image and Tags section css
.direction-bg {
  background-image: url('../../img/home-page/direction-bg.svg');
  background-repeat: no-repeat;
  background-position: 38vw 10vh;
}
.it-section {
  padding: 30px 15px;

  &__button {
    width: 140px;
    height: 36px;
    font-size: 14px;
    background: #e16e57;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    @media (max-width: 768px) {
      width: 150px;
      height: 40px;
      font-size: 16px;
    }
  }

  &__top {
    h3 {
      font-size: 30px;
      line-height: 41px;
      text-transform: uppercase;
      color: #313131;
    }
  }
  &__tags {
    padding: 10px 0;
    h3 {
      display: none;
    }
    li {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 5px 10px 0;
      font-size: 16px;
      line-height: 19px;
      border-radius: 20px;
      cursor: pointer;
      // text-align: center;
      // &:hover,
      // &:focus {
      //   color: #ea725b;
      //   background: rgba(145, 145, 145, 0.08);
      // }
    }

    &--active {
      color: #ea725b;
      background: rgba(145, 145, 145, 0.08);
      // margin-right: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .it-section {
    padding: 0px;
    &__top {
      padding: 20px 20px;
    }
    &__tags {
      padding: 0 20px;
    }
    &__image {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .it-section {
    display: flex;
    justify-content: space-between;
    // padding: 60px;
    &__top {
      display: none;
    }
    &__image {
      width: 48%;
    }
    &__tags {
      padding: 0;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        color: #313131;
        display: block;
        font-size: 36px;
        line-height: 49px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      li {
        font-size: 18px;
        line-height: 23px;
        min-width: 100px;
        margin-bottom: 15px;
        // &:hover {
        //   text-align: center;
        // }
      }
      &--active {
        text-align: center;
      }
      button {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
// Ends

// Cards carousel section css
.cards-carousel {
  padding: 40px 0;
  &__header {
    padding: 0 15px;
    &__title {
      font-size: 26px;
      line-height: 28px;
      color: #313131;
    }
    &__title_t {
      display: none;
      font-size: 26px;
      line-height: 28px;
      color: #313131;
    }
  }
  &__slider {
    &__card {
      padding-top: 5px;
      figure {
        margin: 0;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
      }
      &__body {
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px 15px 15px;
        &__top {
        }
        &__title {
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #313131;
        }
        &__subtitle {
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.02em;
          color: #ea725b;
        }
        &__inline {
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          span {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #ea725b;
          }
        }
        &__tags {
          padding: 10px 0;
          li {
            display: inline-flex;
            align-items: center;
            background: rgba(80, 14, 75, 0.05);
            border-radius: 20px;
            margin: 0 8px 8px 0;
            padding: 5px 15px;
            img {
              height: 15px;
              width: 15px;
            }
            span {
              padding-left: 10px;
              font-size: 14px;
              line-height: 22px;
              color: #313131;
            }
          }
        }
        &__description {
          color: #616161;
          font-size: 16px;
          line-height: 22px;
          &.quotes {
            padding-left: 30px;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              top: 5px;
              left: 0;
              width: 20px;
              height: 20px;
              background: url('../../img/blockquote.png');
              background-repeat: no-repeat;
            }
          }
        }
        &__bottom {
          display: flex;
          justify-content: space-between;
          &__avatar {
            display: flex;
            padding-left: 25px;
            > div {
              display: flex;
              flex-direction: column;
              padding-left: 20px;
              strong {
                font-size: 16px;
                line-height: 22px;
                color: #ea725b;
                text-transform: capitalize;
              }
              span {
                font-size: 14px;
                line-height: 19px;
                color: #989898;
              }
            }
          }
          &__link {
            align-self: flex-end;
            a {
              font-size: 16px;
              line-height: 22px;
              color: #ea725b;
              font-family: 'Roboto-Medium';
            }
          }
          &__price {
            display: flex;
            flex-direction: column;
            span {
              font-size: 13px;
              line-height: 18px;
              color: #8b8b8b;
            }
            strong {
              font-size: 18px;
              line-height: 24px;
              color: #3a3a3a;
            }
          }
        }
      }
    }
  }
}

.starting-price {
  padding-top: 5px;
  font-size: 28pt !important;
}

@media screen and (min-width: 768px) {
  .cards-carousel {
    // padding: 60px 0px;
    &__header {
      // padding-left: 60px;
      &__title {
        font-size: 36px;
        line-height: 42px;
      }
      &__title_t {
        display: flex;
        font-size: 36px;
        line-height: 42px;
        margin-left: 50px;
      }
    }
    &__slider {
      padding: 0px 0px;
      margin: -9px;
    }
  }
}
// @media screen and (max-width: 425px) {
//   .cards-carousel {
//     padding: 30px 0px;
//     &__header {
//       // padding-left: 60px;
//       &__title {
//         font-size: 24px;
//       }
//     }
//     &__slider {
//     }
//   }
// }
// Ends

// Newsletter section css
.newsletter-section {
  padding: 30px 15px;
  &__top {
    h3 {
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #313131;
      strong {
        display: inline-block;
      }
    }
    p {
      font-size: 16px;
      line-height: 19px;
      color: #616161;
    }
  }

  &__form {
    &__input-group {
      display: flex;
      background: #ffffff;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      input {
        width: 100%;
        outline: 0;
        padding: 10px 15px;
        font-size: 14px;
        line-height: 16px;
        color: #8b8b8b;
      }
      button {
        background: #ea725b;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        color: white;
        padding: 0 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .newsletter-section {
    &__top {
      width: 100%;
    }
  }
}
// Ends

// Overlay card section css
.oc-section {
  // padding: 30px 15px;
  &__vertical-align {
    &__card {
      position: relative;
      img{
        width: 100%;
      }
      // margin-bottom: 16px;
      &__content {
        position: absolute;
        bottom: 15%;
        left: 5%;
        width: 70%;
        z-index: 1;
        h5 {
          font-weight: bold;
          font-size: 30px;
          line-height: 40px;
          text-transform: uppercase;
          color: #ffffff;
        }
        p {
          font-size: 16px;
          line-height: 24px;
          color: white;
        }
      }
      @media (max-width: 768px) {
        &__content {
          bottom: 8%;
          h5 {
            font-size: 1.2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
// Ends

// Trust Badge
.trust-badge {
  padding: 30px 0;
  $this: &;
  &__container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -2px 5px 30px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
    padding: 15px;
    height: 310px;
    #{$this}__card {
      padding: 15px 10px;
      figure {
        text-align: center;
        img {
          display: inline-block;
        }
      }
      h4 {
        font-family: 'Roboto-Medium';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #313131;
      }
      p {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #818181;
      }
    }
  }
}
// Ends

.bg-grey {
  background-color: #f3f3f3;
}

.mobile-screenshot {
  width: 157px;
  height: 141px;
}

@media (min-width: 756px) {
  .mobile-screenshot {
    position: absolute;
    bottom: 0;
    width: unset;
    height: unset;
  }
}

.wow-offfer-img {
  width: 300px;
  height: 370px;
  border-radius: 10px;
}

.wow-offer-one {
  background-size: cover;
  background-image: url("../../img/offer-section/wow-1.png");
  .wow-offer-one-img {
    margin-top: 0px !important;
    margin-left: 20px;
  }
  .book-now {
    color: white;
    font-size: 18pt;
    font-weight: 100 !important;
    margin-left: 20px;
    margin-top: 190px;
    line-height: 10px;
  }
  .pay-later {
    color: white;
    font-size: 18pt;
    margin-left: 20px;
    line-height: 0px;
    font-weight: bold;
  }
  .offer-description {
    color: white;
    margin-left: 20px;
  }
}

.wow-offer-two {
  background-size: cover;
  background-image: url("../../img/offer-section/wow-2.png");
  .wow-offer-two-img {
    margin-top: 310px !important;
  }
  .ocean-view{
    font-size: 16pt;
    margin-top: 200px;
    color: white;
    margin-left: 20px;
  }
  .price-of-interior{
    line-height: 0px;
    font-size: 20pt;
    color: white;
    margin-left: 20px;
  }
}

.wow-offer-three {
  background-size: cover;
  background-image: url("../../img/offer-section/wow-3.png");
  .wow-offer-three-img {
    margin-top: 310px !important;
  }
}

.wow-offer-four {
  background-size: cover;
  background-image: url("../../img/offer-section/wow-4.png");
  .wow-offer-four-img {
    margin-top: 310px !important;
  }
}