.siteHeader a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.siteHeader {
  background: #500e4b;
  // background: rgba(0, 0, 0, 0.5);
  padding: 16px 32px;
  box-shadow: 0px 6px 12px 12px rgba(0, 0, 0, 0.08);
}

.siteHeader::after {
  content: "";
  display: table;
  clear: both;
}

.siteIdentity {
  float: left;
}

.siteIdentity h1 {
  font-size: 1.5em;
  margin: 0.7em 0 0.3em 0;
  display: inline-block;
}

.siteIdentity img {
  position: absolute;
  height: 90px;
  max-width: 90px;
  float: left;
  margin: 0 10px 0 0;
  z-index: 999;
}

.siteNavigation {
  float: right;
}

.siteNavigation ul,
li {
  margin: 0;
  padding: 0;
}

.siteNavigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.menu{
  display:none;
}
.banner{
  width:100%;
  object-fit:cover;
}
.menuButton{
  width: 30px;
  height: 30px;
  color: white;
  position: relative !important;
}
.crossButton{
  width: 30px;
  height: 30px;
  color: #EA725B !important;
  right: 30px !important;
  top: 0px !important;
}
.menuOverlay{
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff !important;
}
.menuList .bmitem{
  color: #500e4b;
}
.customMenu{
  top:20px;
  right: 15px !important;
}
.menuItemList{
  padding-top: 25px;
}
.menuItem{
  padding-top: 10px;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .nav{
    display:none;
  }
  .menu{
    display:block;
  }
  .banner{
    min-height: 350px;
  }
  .siteHeader a {
    color: #500e4b;
  }
}
