.siteHeader a {
    text-decoration: none;
    // color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px !important;
  }
  .siteHeader {
    // background: linear-gradient(180deg, #00000061, #00000014);
    background: white;
    // padding: 0px 32px 8px;
    box-shadow: 0px 6px 12px 12px rgba(0, 0, 0, 0.08);
  }
  .siteHeader::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .siteIdentity {
    float: left;
  }
  
  .siteIdentity h1 {
    font-size: 1.5em;
    margin: 0.7em 0 0.3em 0;
    display: inline-block;
  }

  .textIndicator{
    color: #ea725b;
  }
  
  .siteIdentity img {
    position: absolute;
    height: 60px;
    max-width: 90px;
    float: left;
    margin: 0 10px 0 0;
    z-index: 999;
  }
  
  .siteNavigation {
    float: right;
  }
  
  .siteNavigation ul,
  li {
    margin: 0;
    padding: 0;
    padding-right: 50px;
  }
  
  .siteNavigation li {
    display: inline-block;
    // margin: 1.4em 1em 1em 1em;
    margin: 1.4em 3.1em 1.4em 0.1em;
    @media screen and (max-width: 1024px) {
      margin: 0.5em 0.5em 0.5em 0.5em;
    }
  }
  
  .menu{
    display:none;
  }
  .banner{
    // height: 500px;
    height: 280px;
    width:100%;
    object-fit:cover;
  }
  .menuButton{
    width: 30px;
    height: 30px;
    color: white;
    position: relative !important;
  }
  .crossButton{
    width: 30px;
    height: 30px;
    color: #500e4b;
    right: 30px !important;
    top: 0px !important;
  }
  .menuOverlay{
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff !important;
  }
  .menuList .bmitem{
    color: #500e4b;
  }
  .customMenu{
    top: 20px;
    left: 0 !important;
    width: 100% !important;
    padding-left: 40px;
  }
  .menuItemList{
    padding-top: 25px;
  }
  .menuItem{
    padding-top: 10px;
    font-size: large;
  }
  
  @media screen and (max-width: 768px) {
    .nav{
      display:none;
    }
    .siteNavigation {
      margin-left: 20px;
    }
    .menu{
      display:flex;
      margin-top: 10px;
      align-items: center;
    }
    .banner{
      height: 256px;
      width: 100%;
      object-fit: inherit;
    }
    .siteHeader {
      padding: 0px 20px 8px;
    }

    .siteHeader a {
      color: #3A3A3A;
      font-size: 14px;
    }
    .siteIdentity img {
      // height: 75px;
      // max-width: 75px;
      height: 48px;
      width: 50px;
      left: 20px;
    }
    .currencyMobile{
      font-family: "Roboto-Regular";
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 0px;
      padding-left: 30px;
      color:#3A3A3A
    }
    .currencySelectorMobile{
      color:#3A3A3A;
      border-color: #3A3A3A;
    }
    // .menuButton{
    //   display: none;
    // }
  }
  

/* Scale from center */

.underli {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: blue;
    transition: all .35s ease;

    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   

    &:hover {
        color: white;

        &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }   
    }   
}

.logoutOption {
  font-size: 10pt;
  // font-weight: bolder;
  // color: white;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.megaMenuContainer {
  border-radius: 3px;
  background-color: white;
  width: max-content;
  padding: 0px 10px;
}

.megaMenuContent{
  flex-direction: row;
  display: flex;
}

.contentItem{
  padding: 10px 35px;
  justify-content: center;
  display: flex;
  // flex-direction: column;
  align-items: center;
}

.submenuContainer{
  float: right;
  margin-right: 80px;
}

.submenu {
  // margin-top: 90px;
  background-color: white;
  width: 100%;
  height: 50px;
  // border-top: black 1px solid;
}

.selectedMenu {
  color: #EA725B;
  font-size: 10pt;
}

.notSelectedMenu {
  color: #000;
  font-size: 10pt;
}