.itinerary-page-banner {
    position: relative;
    @media screen and (max-width:767px) {
        display: none;
    }
}

.itinerary-page-banner-mobile {
    display: none;
    @media screen and (max-width:767px) {
        display: block;
        position: relative;
    }
}

.itinerary-page-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.hero-section {
    position: absolute;
    top: 50px;
    padding: 20px;
}

.night-count {
    color: white;
}

.itinerary-page-banner-content {
    position: absolute;
    top: 100px;
    padding: 50px;
    @media screen and (max-width:1024px) {
        top: 40px;
    }
}

.itinerary-page-banner-night-count {
    color: white;
    font-size: 20pt;
}

.itinerary-page-banner-cruise-dates {
    color: white;
    span {
        font-size: 12pt;
        margin-left: 10px;
    }
}

.itinerary-page-banner-destination {
    color: white;
    font-weight: bolder;
    margin-top: 20px;
}

.itinerary-page-banner-itinerary-map {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;
        margin-top: 40px;
    }
}

.itinerary-page-banner-day-circle{
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 11px;
    @media screen and (max-width:767px) {
        margin-top: -30px;
    }
}

.itinerary-page-banner-day-destination {
    color: white;
    font-size: 12pt;
    @media screen and (max-width:767px) {
        margin-top: -30px;
    }
}

.banner-line {
    height: 2px;
    width: 20px;

    @media screen and (max-width:1024px) {
        height: 100%;
        width: 15px;
        // width: 2px;
        margin-left: 13px;
    }

    @media screen and (max-width:767px) {
        height: 100%;
        width: 2px;
        margin-left: 13px;
    }
}

.cruise-info-box {
    position: absolute;
    top: 460px;
    left: 50px;
    display: flex;
    padding: 10px 10px 10px 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: 1024px) {
        top: 390px; 
    }
}

.cruise-info-box-left-block {
    margin-top: 20px;
    width: 70%;
}

.cruise-info-box-destinations {
    font-size: 18pt;
    font-weight: bolder;
}

.cruise-info-box-destinations-date {
    line-height: 5px;
    font-size: 14pt;
}

.cruise-info-box-center-block {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 400px;
}

.price-text{
    color: #EA725B;
}

.from-price {
    line-height: 5px;
}

.book-now-button {
    height: 85px;
    width: 100%;
}

.cruise-info-box-right-block {
    width: 30%;
}

.book-now-button {
    background: #ea725b !important;
    color: white;
    border-radius: 10px;
    height: 100%;
    &:hover {
        color: white;
    }
}

.book-now-button span {
    font-size: 18pt;
    font-weight: bolder;
}

.day-wise-section {
    margin-top: 30px;
    @media screen and (max-width: 1440px) {
        margin-top: 0px;
    }
}

.card_image{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.card_text{
    height: 220px;
}

.itinerary-page-day-1 {
    // padding: 50px;
    padding: 70px 50px 0px 50px;
    position: relative;
    @media screen and (max-width: 767px) {
        padding: 0px;
    }

    @media screen and (max-width: 1024px) {
        padding: 10px 50px 0px 50px;
    }

    @media screen and (max-width: 1440px) {
        padding: 0px 50px 0px 50px;
    }
}

.title-and-things-of-destination {
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 3rem;
    @media screen and (max-width: 767px) {
        padding: 20px 20px 0px 20px;
    }
}

.day-one-image-mobile {
    padding: 20px;
}

.experience-text {
    font-size: 12pt;
}

.things-to-do-slider {
    // padding: 100px;
}

.itinerary-page-day-1-content {
    position: absolute;
    top: 100px;
    padding: 50px 50px 50px 70px;
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: 1024px) {
        top: 160px;
    }
}

.itinerary-page-day-1-content-mobile {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        position: absolute;
        top: 200px;
        text-align: center;
        left: 0px;
        right: 0px;
    }
}

.day-one-text {
    color: white;
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: bolder;
}

.day-one-title {
    color: white;
    font-weight: bolder;
    @media screen and (max-width:767px) {
        font-weight: normal;
    }
}

.day-one-dates {
    color: white;
}

.day-one-description-text {
    color: white;
    margin-top: 20px;
    width: 70%;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.itinerary-page-day-two-to-four {
    position: relative;
    padding: 70px 50px 0px 50px;
    @media screen and (max-width: 767px) {
        padding: 0px 20px 0px 20px;
    }

    @media screen and (max-width: 1440px) {
        margin-top: 0px;
        padding: 0px 50px 0px 50px;
    }
}

.itinerary-page-day-two-to-four-content {
    position: absolute;
    top: 100px;
    padding: 50px;
    @media screen and (max-width: 767px) {
        left: 0px;
        right: 0px;
        text-align: center;
    }

    @media screen and (max-width: 1024px) {
        top: 150px;
    }
}

.know-more-iti {
    position: absolute;
    bottom: 60px;
    right: -10vw;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 5px;
    @media screen and (max-width: 767px) {
        display:block;
        right: 35vw;
        bottom: -50px;
    }

    @media screen and (min-width: 1024px) {
        display: block;
        right: 6vw;
    }
}

.exp-image-with-text {
    position: relative;
}

.exp-image-heading {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    font-size: 14pt;
    font-weight: bolder;
    color: white;
    width: 70%;
}

.itinerary-page-testimonials {
    padding: 50px;
}

.faq-section {
    // display: none;

    // @media screen and (max-width:767px) {
    //     display: block;
    // }

    display: block;
    padding: 50px 200px 0px 200px;

    @media screen and (max-width:767px) {
        padding: 20px;
    }

    .faq-title {
        font-size: 20pt;
    }

    .faq-description {
        margin-top: -20px;
        font-size: 10pt;
    }

    .faq-accord-whole {
        border-bottom: 0.5px solid rgba(97, 97, 97, 0.5);;
    }

    .faq-accord-head {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .faq-accord-title {
        font-weight: bold;
    }
    
    .accrod-sign {
        width: 20px;
        // height: 20px;
    }

    .accrod-description {
        margin-top: 5px;
        span {
            font-style: italic;
            color: orange;
        }
    }
}

.head-cont{
    position: sticky;
    z-index: 99;
    width: 100%;
    margin-left: 0%;
    height: 65px;
    left: 0px;
    top: -1px;
    display: none;
    @media screen and (max-width:1023px) {
        display: flex;
    }

    @media screen and (max-width:768px) {
        // display: none;
        // position: fixed !important;
        // top: 0px !important;
    }


    // background: #500E4B;
}

.arrow-left-button {
padding: 3px 9px 8px;
font-size: 21px;
border-radius: 5px;
height: auto;
line-height: normal;
margin: 10px;
position: absolute;
top: 23%;
left: 0;
bottom: 0;
}

.head-cont-fixed{
position: fixed;
z-index: 99;
width: 100%;
margin-left: 0%;
height: 65px;
left: 0px;
bottom: 0px;
display: none;
    @media screen and (max-width:1023px) {
        display: flex;
    }

    @media screen and (max-width:768px) {
        display: flex;
        position: sticky;
        bottom: 20px;
    }
    // background: #500E4B;
}

.top-bar {
display: none;
margin-top: 80px;
padding-left: 15px;
align-items: center;

@media screen and (max-width:600px) {
    display: flex;
}
}

.menu-button {
font-size: 16pt;
}

.destination-name{
font-size: 12pt;
}

.title-text {
font-size: 14pt;
font-weight: bold;
}

.drawer-icons {
}

.date {
position: absolute;
width: 95px;
height: 14px;
left: 13px;
top: 35px;

font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #FFFFFF;

}

.destination-section-one {
    flex: 2;
    background-color: white;
}

.destination-section-two {
    background-color: #EA725B;
    flex: 1;
    text-align: center;
    align-items: center;
}

.book-now-text {
    color: white;
    margin-top: 35px;
}

.destination-title {
    font-size: 12pt;
    font-weight: bolder;
    margin-top: 15px;
}

.from-text{
    font-size: 10pt;
}

.amount-from-starting {
    font-size: 14pt;
    color: #EA725B;
    font-weight: bolder;
}