.pillarBase {
    display: flex;
}

.pillarImage {
    height: 355px;
}

.pillarImageDiv {
    position: relative;
}

.pillarImageContent {
    display: none;
}

.pillarImageDiv:hover .pillarImageContent{
    display: block;
}

.pillarTitle {
    position: absolute;
    bottom: 140px;
    left:20px;
    font-weight: bolder;
    color: white;
}

.pillarDescription {
    position: absolute;
    bottom: 80px;
    font-size: 12pt;
    left: 20px;
    color: white;
    line-height: 20px;
}

.knowMorePillar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: #ea725b;
    border: 1px solid #ea725b;
    padding: 10px 25px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .pillarBase {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pillarImage {
        height: auto;
        width: 90vw;
    }   

    .pillarImageContent {
        display: block;
    }

    .pillarTitle {
        position: absolute;
        bottom: 130px;
        left:20px;
        font-weight: bolder;
        color: white;
    }
    
    .pillarDescription {
        position: absolute;
        bottom: 80px;
        font-size: 12pt;
        left: 20px;
        color: white;
    }
    
    .knowMorePillar {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        background-color: #ea725b;
        border: 1px solid #ea725b;
        padding: 10px 25px;
        border-radius: 5px;
    }
}