.oc-section-aligin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trust-badge {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 30px;
}

@media (max-width: 780px) {
  .trust-badge {
    // flex-direction: column;
  }
  .trust-badge__container {
    margin: 15px 0px;
    height: 300px;
  }

  .trust-badge__card {
    height: 250px;
    // margin: 15px 0px;
  }
}
