
.our-destination-desktop {
    margin-top: 25px;
    display: block;
}

.our-destination-mobile {
    display: none;
    h1{
        margin-left: 15px;
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .our-destination-desktop {
        display: none;
    }
    .our-destination-mobile {
        display: block;
    }
}


@media screen and (max-width: 1025px) {
    .our-destination-images-even {
        width: 280px !important;
        background: #ccc; 
        border-radius: 5px; 
        margin: 10px;
    }
}

// @media screen and (max-width: 1445px) {
//     .our-destination-images-even {
//         width: 371px;
//         background: #ccc; 
//         border-radius: 5px; 
//         margin: 10px;
//     }
// }

@media screen and (max-width: 2560px) {
    .our-destination-images-even {
        width: 371px;
        background: #ccc; 
        border-radius: 5px; 
        margin: 10px;
    }
}

.destination-images-content {
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.destination {
    line-height: 0px;
    font-size: 18pt;
    font-weight: bold;
    color: white;
}

.explore-more-btn {
    border-color: white;
    background-color: transparent;
}