
.our-destination-desktop {
    display: block;
}

.our-destination-mobile {
    display: none;
    h1{
        margin-left: 15px;
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .our-destination-desktop {
        display: none;
    }
    .our-destination-mobile {
        display: block;
    }
}


.our-destination-images-even:hover .darkness-on-cruise {
    height: 100%;
}

.our-destination-images-even:hover .destination {
    // display: none;
}

.seacation-text-buttons {
    display: none;
}

.our-destination-images-even:hover .seacation-text-buttons {
    display: block;
}

@media screen and (max-width: 1025px) {
    .our-destination-images-even {
        width: 280px !important;
        background: #ccc; 
        border-radius: 5px; 
        margin: 10px;
    }
}

@media screen and (max-width: 2560px) {
    .our-destination-images-even {
        width: 371px;
        background: #ccc; 
        border-radius: 5px; 
        margin: 10px;
    }
}

.destination-images-content {
    bottom: 10px;
    // right: 90px;
    text-align: left;
    padding: 0px 20px;
}

.destination-images-content .seacation-text-buttons{
    display: none;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .destination-images-content .seacation-text-buttons{
        display: block;
        text-align: left;
    }
}

.destination {
    line-height: 0px;
    font-size: 18pt;
    font-weight: bold;
    color: white;
}

.darkness-on-cruise {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    // height: 100%;
    border-radius: 5px;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: 0.5s;
}

.darkness-on-cruise-content{
    position: relative;
    padding: 20px;
    text-align: left;
}

.darkness-on-cruise-content-wrapper {
    position: absolute;
    // top: 100px;
}

.darkness-on-cruise-content-title {
    font-weight: bold;
    color: white;
}

.darkness-on-cruise-content-description {
    font-size: 11pt;
}

.view-cruises {
    color: white;
    background-color: #ea725b;
    border: 1px solid #ea725b;
    padding: 10px 25px;
    border-radius: 5px;
}

.explore-more{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 50px;
}

.explore-more-btn {
    border-color: white;
    background-color: transparent;
}