.box-show {
    border: 1px solid #56124B;
    height: 10px;
    width: 10px;
}

.box-not-available {
    background-color: gray;
    border: 1px solid black;
    pointer-events: none;
}

.box-selected {
    outline: none !important;
    background-color: #56124B;
}

.text-magenta {
    color: #56124B;
}

.border-magenta {
    border: 1px solid #56124B; 
}

.rooms-container{
    max-height: 530px;
    overflow-y: scroll;
}

/* width */
.rooms-container::-webkit-scrollbar {
  width: 7px;
  height: 70px;
}
 
/* Handle */
.rooms-container::-webkit-scrollbar-thumb {
  background: #56124B; 
  border-radius: 10px;
}

/* Handle on hover */
.rooms-container::-webkit-scrollbar-thumb:hover {
  background: #460f3c; 
}

/* .rightline{
    right: 0;
    top:0;
    height: 50%;
    width: 20px;
    border: 1px solid #56124B;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    position: absolute;
}

.leftline{
    left: 0;
    top:0;
    height: 50%;
    width: 20px;
    border: 1px solid #56124B;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    position: absolute;
} */


.topbox{
    left: 1px;
    top: 0px;
    right: 1px;
    height: 70%;
    background-color: #fff;
    position: absolute;
}

.curve{
    bottom: 0;
    left: 0;
    height: 100%;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    width: 100%;
    border: 1px solid #56124B;
    border-top-width: 0px;
    border-left-color: #56124B;
    border-right-color: #56124B;
    position: absolute;
    z-index: -10;
}

.position-text{
    transform: rotate(90deg);
    position: absolute;
    /* right: 0px; */
    /* left: 600px; */
    /* top: 0px; */
    z-index: 100;
    margin-left: 10px;
    /* position: absolute; */
    /* right: -30px; */
}

.grid-parent {
    padding-bottom: 145px;
}


.border-u {
    border: 1px solid #56124B;
    border-top-width: 0px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    /* border-bottom-color: transparent;  */
    /* padding-top: 10px; */
    padding-bottom: 50px;
}

.selection-button {
    height: 30px;
    width: auto;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    /* background-color: #56124B; */
}

.interior-img {
    width: 97%;
    height: 170px;
}

.inc-detail{
    width: 85%;
}

.icons-img {
    height: 15px;
    width: 15px;
    margin-top: 3px;
}

.horizontal-line {
    border-bottom: 0.5px solid black;
}

.interior-card{
    display: block;
    border-radius: 7px;
}

.interior-card p, span {
    font-size: 9pt;
}

.room-type {
    color: #56124B;
    font-weight: 700; 
}

.view-summary {
    background-color: #F46E5D;
    color: white;
}

.room-details-mobile{
    display: none;
}

.select-room-desk{
    display: flex;
}

.not-available-for-other-cabin {
    background-color: green;
    border: 1px solid green;
    color: white;
    pointer-events: none;
}

@media (max-width:768px) {
    .interior-card{
        display: none;
    }
    .room-details-mobile{
        display: flex;
    }
    .select-room-desk{
        display: none;
    }
}

.room-card-title{
    font-size: 11pt;
    color: #460f3c;
    line-height: 10px;
    margin-top: 20px;
}

.room-card-value{
    font-size: 13pt;
    font-weight: bold;
    color: #460f3c;
    line-height: 10px;
}

.container-room {
    display: grid;
    grid-template-columns: repeat(6, [col] 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

.position-front {
    position: absolute;
    top: 20px;
    right: -21px;
    text-align: right;
    z-index: 1000;
    transform: rotate(90deg);
}

.position-middle {
    position: absolute;
    top: 35%;
    right: -21px;
    text-align: right;
    z-index: 1001;
    transform: rotate(90deg);
}

.position-back {
    position: absolute;
    top: 70%;
    right: -14px;
    text-align: right;
    z-index: 1001;
    transform: rotate(90deg);
}