.containerMain {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
}
.cruisenightContainer {
    background: #FFF1EE;
    width: 100%;
}
.nightHeader {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #313131;
    margin-bottom: 0px;
}
.subnightHeader {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #313131;
    padding-top: 7px;
}
.portdetails {
   margin-right: 0px;
   margin-left: 0px;
   display: flex;
}
.status {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #44B668;
    display: flex;
    justify-content: flex-end;
}
.statusOrange {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FF9F2E;
    display: flex;
    justify-content: flex-end;
}
.bookingID {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #313131;
    display: flex;
    justify-content: flex-end;
}
.startPlace {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23pt !important;
    line-height: 35px;
    color: black !important;
}

.startDate {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #313131;
}

.startTime {
    font-size: 14pt;
}

.endTime {
    font-size: 14pt;
}

.startingPort {
    color: #313131;
}

.endingPort {
    color: #313131;
}

.startPlace {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #616161;
}

.borderStyle {
    /* margin: 0px 0px; */
    border-bottom:  gray dotted ;
}

.roomType {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #313131;
}
.roomNumber {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #616161;
}
.grandTotal {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    color: #313131;
}
.buttonDetails {
    background: #EA725B;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    width: '100%';
    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-end;
    border-color: #EA725B;
}
.card{
    margin-top: 10px;
}
.noDataFound {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: gray;
}

.marginRemove {
    margin-left: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.alignLeftCon {
    text-align: left;
}

.ship {
    display: flex;
}
.viewDetails {
    display: flex;
    justify-content: flex-end;
}

.totalBookings {
    color: gray;
}

@media only screen and (max-width: 768px) {
    .nightHeader {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }
    .subnightHeader {
        font-size: 14px;
        line-height: 16px;
    }
    .statusOrange {
        font-size: 16px;
        line-height: 19px;
    }
    .status{
        font-size: 16px;
        line-height: 19px;
    }
    .bookingID {
        font-size: 11px;
        line-height: 14px;
        display: flex;
        justify-content: flex-end;
    }
    .viewDetails {
        display: block !important;
        /* justify-content: flex-end; */
    }

    .my-booking_totalBookings__2rmws {
        padding-top: 15px !important;
        font-size: 14px;
        padding-left: 5px;
    }
  }
