.btn-modify {
  padding: 7px 18px;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  border-radius: 5px;
}
.arrow-left-btn {
  padding: 3px 9px 8px;
  font-size: 21px;
  border-radius: 5px;
  height: auto;
  line-height: normal;
}

#progressbar {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  display: flex;
  margin-bottom: 0px;
  margin-top: 15px;
}
#progressbar li {
  list-style-type: none;
  color: rgb(51, 51, 51);
  font-size: 9px;
  width: 33.3%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background: #838383;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}
#progressbar li .stepfill {
  transform: translateY(-40px);
}
#progressbar li .step--comn {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #838383;
  line-height: normal;
  margin-bottom: 20px;
}
#progressbar li .step-title {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #838383;
  line-height: normal;
}
#progressbar li:after {
  content: "";
  width: 100%;
  height: 5px;
  background: #eee;
  position: absolute;
  left: -50%;
  top: 4px;
  z-index: -1;
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #ea725b;
  color: white;
}

/*----------------------------------page create----------------------------------------*/
.title--main {
  font-size: 24px;
  font-weight: 600;
  color: #313131;
}
.cabin-boxgrid {
  background: #ffffff;
  box-shadow: 0px 0px 15px #0000000d;
  border-radius: 5px;
  padding: 10px 15px;
  position: relative;
  padding-right: 50px;
  min-height: 110px;
  margin-bottom: 20px;
  cursor: pointer;
}
.title-cabin {
  font-size: 18px;
  font-weight: 600;
  color: #313131;
}
.guest--view {
  font-size: 14px;
  font-weight: 400;
  color: #313131;
}
.delticon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.btn-delt {
  padding: 0;
}
.cabinadd--field p {
  color: #535353;
  font-size: 14px;
}
.listMore--items--vat ul {
  padding-left: 0px;
  list-style: none;
}
.listMore--items--vat ul li {
  margin-bottom: 10px;
}
.widgit--guest--list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f3f3f3;
}
.iconbutton-comn {
  flex: 0 0 45px;
  max-width: 45px;
  background: #f3f3f3;
}
.items--filltxt {
  flex: 1;
  max-width: 100%;
  padding: 0px 15px;
  text-align: center;
}
.iconbutton-comn button {
  background: #f3f3f3;
  width: 45px;
  height: 45px;
}
.iconbutton-comn .btn-plus {
  // background: #ea725b;
  color: #ea725b;
}
.iconbutton-comn .btn-minus {
  // background: #ea725b;
  color: #ea725b;
}

button:disabled {
  cursor: not-allowed !important;
}

.items--filltxt span {
  display: block;
}
.items--filltxt .fst-txtnv {
  font-size: 16px;
  color: #3a3a3a;
}
.items--filltxt .adultxt {
  font-size: 14px;
}
.items--filltxt .scnd-txtnv {
  font-size: 10px;
  color: #a8a8a8;
}
.listMore--items--vat p {
  margin-bottom: 0;
}

.add-cabin {
  /* position: absolute; */
  width: 150px;
  height: 35.29px;
  left: 1189px;
  top: 337px;
  border: 1px solid #ea725b;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ea725b;
}
.booknow--bannerImg img {
  height: 100%;
}

.selected-cabin {
  background: #ffffff;
  border: 1px solid #ea725b;
}

.offerImageWeb {
    display: block;
}

.offerImageMob {
  display: none;
}

.cabin-selection-button {
  font-size: 14px !important;
}

.heading-cabin-guests {
  font-size: 21pt;
}
.passenger-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: 10px;
  padding: 20px;
}


.adults-section {

}

.adults-section p {
  line-height: 10px;
  font-size: 8pt;
}

.children-section p {
  line-height: 10px;
  font-size: 8pt;
}

.infants-section p {
  line-height: 10px;
  font-size: 8pt;
}

.adults-box {
  // display: flex;
  // justify-content: space-evenly;
  border-radius: 5px;
  overflow: hidden;
}

.offers-for-kids {
  margin-left: 20px;
}

@media screen and (max-width: 1199px) {
  .booknow--bannerImg img {
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .booknow--bannerImg {
    margin-top: 30px;
  }

  .booknow--bannerImg img {
    width: 336px;
    // height: 100%;
    height: 212px;
  }
}

@media screen and (max-width: 768px) {
  .btn-card--bth {
    text-align: center;
    float: right;
  }

  .offerImageWeb {
    display: none;
  }

  .offerImageMob {
    display: block;
  }

  .booknow--bannerImg {
    margin-top: 10px;
  }

  .add-cabin {
    width: 140px;
    height: 36px;
    // width: 100%;
    height: auto;
    border: 1px solid #ea725b;
    box-sizing: border-box;
    border-radius: 5px;
    color: #ea725b;
    font-size: 14px;
  }

  .title--main {
    font-size: 16px !important;
  }

  .select-room-type { 
    position: sticky;
    top: 100;
    // position: -webkit-sticky;
  }

  .cabin-slider {
    min-width: 250px;
  }

  .heading-of-cabins{
    margin-top: 15px;
  }

  .heading-cabin-guests{
    font-size: 12pt;
  }

  .passenger-row{
    padding: 20px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.crow{
  display: flex;
  flex-direction: row;
}

.select-room-type {
  position: absolute;
  top: 200;
}