.promotionBanner {
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
}

.promotionBannerContent {
    position: absolute;
    top: 130px;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}

.promotionBannerHeading{
    font-size: 40pt;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.promotionBannerSpecification {
    display: flex;
    justify-content: center;
}

.promotionBannerTextOne {
    font-size: 16pt;
    font-weight: bold;
}

.promotionBannerTextSeperatorOne {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18pt;
}

.promotionBannerTextTwo {
    font-size: 16pt;
    font-weight: bold;
}

.promotionBannerTextSeperatorTwo {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18pt;
}

.promotionBannerTextThree {
    font-size: 16pt;
    font-weight: bold;
}

.offerKnowBox {
    border-radius: 10px;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    padding: 40px;
    width: 86%;
    margin-left: 8%;
    top: 450px;
}

.offerKnowBoxText {
    text-align: left;
    font-size: 14pt;
    color: #4a5568;
}

.offerKnowBoxForm {
    display: flex;
    justify-content: space-between;
}
.offerKnowBoxFullname {
    flex: 1;
    height: 47px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}

.offerKnowBoxContactNumber {
    flex: 1;
    height: 47px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}

.offerKnowBoxEmailAddress {
    flex: 1;
    height: 47px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}

.offerKnowBoxSubmitButton {
    flex: 1;
    margin-right: 10px;
    height: 47px !important;
}

.offerKnowBoxCheckbox {
    text-align: left;
    padding: 15px;
}

.offerKnowBoxCheckboxInput {
}

.offerKnowBoxCheckboxText {
    margin-left: 20px;
    font-size: 11pt;
    color: #a0aec0;
}

.dealsOffersSection {
    margin-top: 12rem;
    padding: 30px;
}

.dealsOffersSectionHeading {
    font-size: 28pt;
    padding: 30px;
}

.dealsOffersSectionParaOne {
    font-size: 14pt;
    max-width: 90%;
    margin: 0px auto;
    color: #616161;
}

.dealsOffersSectionParaTwo {
    font-size: 14pt;
    max-width: 90%;
    margin: 20px auto;
    color: #616161;
}

.sailingStartFrom {
    font-weight: bold;
    font-size: 18pt;
    margin-top: 5rem;
}

.sailingPhotos {
    padding: 70px;
}

.sailingPhotoContent {
    position: absolute;
    top: 170px;
}

.sailingPhotoContentHeading {
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

.sailingPhotoContentPara {
    color: white;
    font-size: 10pt;
    line-height: 0px;
}

.cruiseConfidently {
    padding: 30px;
}

.cruiseConfidentlyHeading {
}

.cruiseConfidentlySubHeading {
    font-size: 18pt;
    font-weight: bolder;
    color: #616161;
    line-height: 0px;
}

.cruiseConfidentlyParaOne {
    font-size: 12pt;
    padding: 30px;
    color: #616161;
    max-width: 90%;
    margin: 0px auto;
}

.cruiseConfidentlyParaTwo {
    font-size: 12pt;
    color: #616161;
    max-width: 90%;
    margin: 0px auto;
}

.interiorOfferGuest {
    max-width: 85%;
    margin: 5rem auto;
}

.interiorOfferGuestHeading {
    font-size: 22pt;
    font-weight: bolder;
}

.interiorOfferGuestParaOne {
    font-size: 14pt;
    color: #616161;
}

.interiorOfferGuestImageAndContent {

}

.tabActive{
    border-bottom: 5px solid#ea725b;
    width: 180px;
}

.listitem{
    color: gray;
    font-size: 18px;
    padding: 10px 0px;
}

.tableHeader {
    background-color: #ff9e8b
}

.tabActive p{
    color: #ea725b;
    font-weight: bold;
    font-size: 18px;
}

.tab p{
    font-size: 18px;
}

.tab{
        /* border-bottom: 5px solid#ea725b; */
    width: 180px;
}

.interiorOfferGuestImage {
    border-radius: 10px;
    width: 100%;
}

.interiorOfferGuestContent {

}

.privilegedSuite {
    max-width: 85%;
    margin: 0rem auto;
}

.privilegedSuite{
}

.privilegedSuiteHeading {
    font-size: 22pt;
    font-weight: bolder;
}

.privilegedSuiteBlocks{
    display: flex;
}

.privilegedSuiteBlockOne {
    flex:1;
}

.privilegedSuiteBlockTwo {
    flex:1;
    padding: 30px;
}

.privilegedSuiteBlockTwoPara{
    color: gray;
    font-size: 14pt;
}

.privilegedSuiteBlockTwoChecklist {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.privilegedSuiteChecklistText {
    padding: 0px 20px;
    font-size: 12pt;
    color: gray;
}