.healthyWave {

}

.mainBannerDiv {
    position: relative;
}

.mainBannerDivMobile {
    display: none;
}

.mobileCheckImageContainer {
    display: none;
}

.bannerContentMobile {
    position: absolute;
    top: 250px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.bannerContentHeadingMobile {
    font-size: 20pt;
    font-weight: bolder;
    color: white;
}

.bannerContentSubHeadingMobile {
    font-size: 12pt;
    letter-spacing: 5px;
    font-weight: bold;
    color: white;
}


.bannerContentHeading {
    position: absolute;
    top: 175px;
    left: 430px;
    color: white;
    font-weight: bolder;
    font-size: 40pt;
}

.bannerContentSubHeading {
    position: absolute;
    top: 265px;
    left: 440px;
    color: white;
    font-size: 14pt;
    font-weight: bolder;
    letter-spacing: 7px;
}

.saftyAssuranceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saftyAssuranceHeading {
    margin-top: 50px;
    font-size: 24pt;
}

.saftyAssuranceParagraph {
    font-size: 14pt;
    color: #616161;
    padding: 0px 120px;
    text-align: center;
}

.badge {
    padding: 20px;
    text-align: center;
}

.badgeImage {
    height: auto;
    width: 40px;
}

.youtubeVideoSection {
    /* background-color: black; */
    /* position: relative; */
}

.protocolSection {
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    column-gap: 140px;
}

.protocolSectionLineDiv {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.protocolSectionLine {
    margin-top: 20px;
    margin-bottom: 20px;
}

.protocolSectionLeft {
    position: relative;
    text-align: right;
    width: 500px;
}

.protocolSectionLeft p {
    font-size: 12pt;
    color: #4a5568;
}

.protocolSectionRight {
    position: relative;
    text-align: left;
    width: 500px;
    margin-top: 150px;
}

.protocolSectionRight p {
    font-size: 12pt;
    color: #4a5568;
}

.protocolSectionLeftIcon {
    height: 50px;
    position: absolute;
    right: -95px;
    top: -10px;
}

.protocolSectionRightIcon {
    height: 50px;
    position: absolute;
    left: -95px;
    top: -10px;
}

.downloadProtocolSection {
    margin-top: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.downloadProtocolText {
    color: #ea725b;
    font-weight: bolder;
}


@media screen and (max-width: 768px) {

    .mainBannerDiv {
        display: none;
    }

    .mainBannerDivMobile {
        display: block;
        position: relative;
    }

    .saftyAssuranceHeading {
        padding: 0px 20px;
    }

    .saftyAssuranceParagraph {
        font-size: 14pt;
        color: #616161;
        padding: 0px 20px;
        text-align: left;
    }

    .mobileCheckImageContainer {
        display: block;
    }

    .protocolSection {
        padding: 0px 20px;
        margin-top: 70px;
        grid-template-columns: auto;
    }

    .mobileCheckImageContainer {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .protocolSectionLineDiv {
        display: none;
    }

    .protocolSectionRight {
        text-align: left;
        width: unset;
        margin-top: 50px;
    }

    .protocolSectionRightIcon {
        display: none;
    }

    .protocolSectionLeftIcon {
        display: none;
    }

    .protocolSectionLeft {
        text-align: left;
        width: unset;
    }

    .mobileCheckImage {
        height: 50px;
    }

    .saftyAssuranceSection {
        display: unset;
    }

    .bannerContentHeading {
        /* left: 0px;    */
        display: none;
    }

    .bannerContentSubHeading {
        /* left: 0px;    */
        display: none;
    }
}