.waveBg{
    background-image: url('../../assets/img/web-check-in/checkin-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 12em;
}
.heading{
    font-weight: 500;
    font-size: 24px;
    color: #500E4B;
    font-family: Roboto, sans-serif;
}
@media screen and (max-width:450px){
    .heading{
        font-size: 20px;
        color: #313131;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 20px 2px 0px;
    }
}