.SendOtp {
    padding: 10px;
    background: #ea725b;
    border-color: #ea725b;
    color: white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.containerStyle{
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    justify-content: center;
}

.inputStyle {
    width: 3rem !important;
    height: 3rem;
    margin: 0 .85rem;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.selectStyle{
    padding: 0px;
}