.placecard {
    height: 400px;
    /* width: 100%; */
}

.this-destination-box img {
    border-radius: 10px 10px 0 0;
}

.this-destination-boxwithouthover:hover div {
    display: none !important; 
}
  
.this-destination-boxwithouthover:hover h5 {
    display: unset !important;
}
  
.this-destination-boxwithouthover:hover::before {
    height: 0px !important;
}

.this-destination-box {
    background-repeat: no-repeat! important;
    background-position: center center! important;
    background-size: cover! important;
    position: relative;
    /* padding: 2rem 2rem 3rem; */
    margin: 0 -10px;
    border-radius: 10px;
}

@media (max-width: 768px) {
  .this-destination-box {
    margin: 0 10px;
  } 
}

.this-destination-box .this-description-area {
  display: none;
}

.this-destination-box:hover .this-description-area { 
    display: block;
}

.titile {
  font-family: Roboto,sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 22pt; 
  text-transform: uppercase;
}



.offer {
  font-family: Roboto,sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 22pt;
  text-transform: uppercase;
  margin-top: -20px;
}

@media (max-width: 1024px) {
  .titile {
    font-size: 28pt;
  }
  
  
  
  .offer {
    font-size: 28pt; 
  } 
}

.this-description-container {
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    padding: 1rem 1rem 2rem;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

  
  
  .this-destination-box-content h4 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
  }

  .heading {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #313131;
  }

  .welcomeText {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #313131;
  }

  .username {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #313131;
  }

  
  .this-destination-box:hover .this-destination-box-content {
    opacity: 1;
  }

  .title{
    margin-left: 0px;  
   }
  
  @media (max-width:768px) {
    .title{
     margin-left: 20px;  
    }
  }