.room-selection-container {
    padding: 0px
}

@media screen and (max-width:768px) {
    .room-selection-container {
        padding: 0px 20px;
    }
}

.selectedCabinMB{
    margin-bottom: 50px;
  }
  
@media (max-width:768px) {
    .selectedCabinMB{
      margin-bottom: 10px;
    }
}