.card {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.cardWB {
  background: #ffffff;
  // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  // border-radius: 5px;
}
.carousel-img{
  height: 100%;
}