.carousel-img{
  // width: 292px;
  // height: 267px;

  width: 100%;
  height: 100%;
}

.shore-name {
  position: absolute;
  color: white; 
  bottom: 50px;
  left: 32px;
  font-size: 28pt;
}

.shore-duration {
  position: absolute; 
  color: white; 
  bottom: 30px;
  left: 30px;
  span {
    font-size: 14pt;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-img{
    // width: 335px;
    // height: 209px;

    width: 100%;
    height: 100%;
  }

  .shore-name {
    position: absolute;
    color: white; 
    bottom: 50px;
    left: 32px;
    font-size: 18pt;
  }

  .shore-duration {
    position: absolute; 
    color: white; 
    bottom: 30px;
    left: 30px;
    span {
      font-size: 12pt;
      margin-left: 10px;
    }
  }
}